In [1]:
import QUANTAXIS as QA

In [2]:
user= QA.QA_User()

In [3]:
user.subscribe_strategy('s1_jm',1)
user.subscribe_strategy('s1_j',2)
user.subscribe_strategy('s1_rb',4)

(True, '0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2')

In [4]:
import pandas as pd

In [5]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,running,s1_jm,0068ee1c-1b01-11e9-8a3d-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2

In [6]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-18,1,0068ee1c-1b01-11e9-8a3d-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-18,2,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-18,4,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2,subscribe

In [7]:
user.coins

9970

In [8]:
user.unsubscribe_stratgy('s1_jm')

In [9]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,canceled,s1_jm,0068ee1c-1b01-11e9-8a3d-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2

In [10]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-18,1,0068ee1c-1b01-11e9-8a3d-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-18,2,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-18,4,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-18,0,00732664-1b01-11e9-aecd-9cb6d020b9c2,unsubscribe

In [11]:
import datetime

In [12]:
#pd.Timestamp('2018-11-05')-pd.Timestamp('2018-11-10')>datetime.timedelta(days=0)

In [13]:
user.subscribing_strategy

,end,lasttime,start,status,strategy_id,uuid,remains
1,2019-01-22,2,2019-01-18,running,s1_j,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2,4 days
2,2019-01-24,4,2019-01-18,running,s1_rb,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2,6 days

In [14]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,canceled,s1_jm,0068ee1c-1b01-11e9-8a3d-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,0068ee1d-1b01-11e9-abe1-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,0068ee1e-1b01-11e9-bbf3-9cb6d020b9c2

In [15]:
#user.subscribed_strategy.