In [11]:
import QUANTAXIS as QA
import random
market = QA.QA_Market()
user = QA.QA_Portfolio()
# 创建两个account
# 这里是创建一个资产组合,然后在组合里面创建两个account  你可以想象成股票里面的两个策略账户
# 然后返回的是这个账户的id
a_1 = user.new_account()

market.start()
market.connect(QA.RUNNING_ENVIRONMENT.BACKETEST)

# 打印market
print(market)


"""
登陆到这个交易前置上 把你刚才的两个账户
"""
# 登陆交易
market.login(QA.BROKER_TYPE.BACKETEST, a_1, user.get_account(a_1))




for date in QA.QA_util_get_trade_range('2017-01-01','2017-01-31'):
    for code in ['000001', '000002', '000004', '000007']:
        if random.random()<0.3:
            market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.BUY, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
        else:
            try:
                print(user.get_account(a_1).sell_available.get(code,0))
                market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
            except:
                pass
    market._settle(QA.BROKER_TYPE.BACKETEST)
        
while True:
    if market.clear():
        break
print(user.get_account(a_1).history)
print(user.get_account(a_1).cash)
print(user.get_account(a_1).cash_available)
print(user.get_account(a_1).history_table)
print(user.get_account(a_1).hold)

< QA_MARKET with ['backtest'] Broker >
===== SETTLED None =====< QA_Order datetime:2017-01-03 09:31:00 code:000002 price:20.73 towards:1 btype:0x01 order_id:Order_GDVhzZud account:Acc_DLSOVsom status:300 >

===== SETTLED None =====< QA_Order datetime:2017-01-04 09:31:00 code:000007 price:26.47 towards:1 btype:0x01 order_id:Order_C3JhLBbc account:Acc_DLSOVsom status:300 >

0
< QA_Order datetime:2017-01-05 09:31:00 code:000002 price:20.93 towards:1 btype:0x01 order_id:Order_TEirj86L account:Acc_DLSOVsom status:300 >
===== SETTLED None =====
0< QA_Order datetime:2017-01-05 09:31:00 code:000004 price:44.44 towards:1 btype:0x01 order_id:Order_GX8FKBRI account:Acc_DLSOVsom status:300 >

1000.0
< QA_Order datetime:2017-01-05 09:31:00 code:000007 price:26.24 towards:1 btype:0x01 order_id:Order_fPAxsY7i account:Acc_DLSOVsom status:300 >1000.0

===== SETTLED None =====
0< QA_Order datetime:2017-01-06 09:31:00 code:000002 price:20.64 towards:-1 btype:0x01 order_id:Order_4lnioSr7 account:Acc_DLSOVsom status:300 >

< QA_Order datetime:2017-01-06 09:31:00 code:000004 price:43.96 towards:1 btype:0x01 order_id:Order_BXEv1zQu account:Acc_DLSOVsom status:300 >2000.0

< QA_Order datetime:2017-01-06 09:31:00 code:000007 price:25.45 towards:-1 btype:0x01 order_id:Order_munJsqzh account:Acc_DLSOVsom status:300 >1000.0

2000.0< QA_Order datetime:2017-01-09 09:31:00 code:000002 price:20.66 towards:-1 btype:0x01 order_id:Order_uxb5DHCG account:Acc_DLSOVsom status:300 >
===== SETTLED None =====

< QA_Order datetime:2017-01-09 09:31:00 code:000004 price:43.01 towards:-1 btype:0x01 order_id:Order_gTZP2fCu account:Acc_DLSOVsom status:300 >
1000.0
< QA_Order datetime:2017-01-09 09:31:00 code:000007 price:25.09 towards:-1 btype:0x01 order_id:Order_VQq81XWM account:Acc_DLSOVsom status:300 >===== SETTLED None =====

0.0
< QA_Order datetime:2017-01-10 09:31:00 code:000001 price:9.15 towards:1 btype:0x01 order_id:Order_WbVx2ZIr account:Acc_DLSOVsom status:300 >
===== SETTLED None =====
< QA_Order datetime:2017-01-10 09:31:00 code:000002 price:20.58 towards:-1 btype:0x01 order_id:Order_roNIxeSk account:Acc_DLSOVsom status:300 >
0
< QA_Order datetime:2017-01-10 09:31:00 code:000004 price:43.25 towards:1 btype:0x01 order_id:Order_TmVrzIb6 account:Acc_DLSOVsom status:300 >0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-10 09:31:00 code:000007 price:24.79 towards:1 btype:0x01 order_id:Order_B31DRicF account:Acc_DLSOVsom status:300 >

QUANTAXIS>> code 000002 date 2017-01-12 price None order_model close amount_model by_amount

< QA_Order datetime:2017-01-11 09:31:00 code:000001 price:9.14 towards:1 btype:0x01 order_id:Order_R7gFECMm account:Acc_DLSOVsom status:300 >
2000.0< QA_Order datetime:2017-01-11 09:31:00 code:000004 price:42.45 towards:1 btype:0x01 order_id:Order_VKY9Mj7n account:Acc_DLSOVsom status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-11 09:31:00 code:000007 price:24.85 towards:1 btype:0x01 order_id:Order_OnNWeGUd account:Acc_DLSOVsom status:300 >1000.0

1000.0< QA_Order datetime:2017-01-12 09:31:00 code:000004 price:42.05 towards:-1 btype:0x01 order_id:Order_3vNLndsy account:Acc_DLSOVsom status:300 >

2000.0
< QA_Order datetime:2017-01-12 09:31:00 code:000007 price:24.61 towards:1 btype:0x01 order_id:Order_ONByrYIe account:Acc_DLSOVsom status:300 >===== SETTLED None =====

< QA_Order datetime:2017-01-13 09:31:00 code:000001 price:9.16 towards:-1 btype:0x01 order_id:Order_LY7oP8pK account:Acc_DLSOVsom status:300 >2000.0

3000.0
< QA_Order datetime:2017-01-13 09:31:00 code:000002 price:21.81 towards:1 btype:0x01 order_id:Order_FvhpKC82 account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-13 09:31:00 code:000004 price:41.0 towards:-1 btype:0x01 order_id:Order_2vA4TVD5 account:Acc_DLSOVsom status:300 >

QUANTAXIS>> code 000007 date 2017-01-16 price None order_model close amount_model by_amount

< QA_Order datetime:2017-01-13 09:31:00 code:000007 price:23.81 towards:-1 btype:0x01 order_id:Order_c3OwkEIH account:Acc_DLSOVsom status:300 >===== SETTLED None =====

2000.0< QA_Order datetime:2017-01-16 09:31:00 code:000001 price:9.14 towards:-1 btype:0x01 order_id:Order_t01o7hcE account:Acc_DLSOVsom status:300 >

2000.0
< QA_Order datetime:2017-01-16 09:31:00 code:000002 price:21.0 towards:1 btype:0x01 order_id:Order_8jALpxhV account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-17 price None order_model close amount_model by_amount

< QA_Order datetime:2017-01-16 09:31:00 code:000004 price:38.26 towards:1 btype:0x01 order_id:Order_VO9aEBSe account:Acc_DLSOVsom status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-17 09:31:00 code:000001 price:9.15 towards:1 btype:0x01 order_id:Order_43lfcXsG account:Acc_DLSOVsom status:300 >0.0

1000.0< QA_Order datetime:2017-01-17 09:31:00 code:000002 price:20.8 towards:1 btype:0x01 order_id:Order_ioBAJUf1 account:Acc_DLSOVsom status:300 >
2000.0

2000.0< QA_Order datetime:2017-01-17 09:31:00 code:000004 price:37.37 towards:-1 btype:0x01 order_id:Order_gic04ymv account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-18 09:31:00 code:000002 price:20.92 towards:-1 btype:0x01 order_id:Order_HAJtRdhK account:Acc_DLSOVsom status:300 >

QUANTAXIS>> code 000007 date 2017-01-18 price None order_model close amount_model by_amount

< QA_Order datetime:2017-01-18 09:31:00 code:000004 price:37.15 towards:-1 btype:0x01 order_id:Order_UJdWDIx4 account:Acc_DLSOVsom status:300 >===== SETTLED None =====

1000.0
0.0< QA_Order datetime:2017-01-19 09:31:00 code:000001 price:9.18 towards:-1 btype:0x01 order_id:Order_vJbQxnF7 account:Acc_DLSOVsom status:300 >

2000.0
< QA_Order datetime:2017-01-19 09:31:00 code:000002 price:20.6 towards:1 btype:0x01 order_id:Order_HOfCNQMk account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-19 price None order_model close amount_model by_amount

===== SETTLED None =====
2000.0
< QA_Order datetime:2017-01-20 09:31:00 code:000001 price:9.22 towards:1 btype:0x01 order_id:Order_nK2oTA8U account:Acc_DLSOVsom status:300 >
0.0
< QA_Order datetime:2017-01-20 09:31:00 code:000002 price:20.68 towards:-1 btype:0x01 order_id:Order_I9yrl3hp account:Acc_DLSOVsom status:300 >2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-20 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0
1000.0< QA_Order datetime:2017-01-23 09:31:00 code:000001 price:9.22 towards:-1 btype:0x01 order_id:Order_WlgL4MSs account:Acc_DLSOVsom status:300 >

0.0
2000.0< QA_Order datetime:2017-01-23 09:31:00 code:000002 price:20.74 towards:-1 btype:0x01 order_id:Order_1oIHuJW4 account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-23 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
2000.0
< QA_Order datetime:2017-01-24 09:31:00 code:000004 price:38.63 towards:1 btype:0x01 order_id:Order_EWN5lnrC account:Acc_DLSOVsom status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-24 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
1000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-25 09:31:00 code:000004 price:38.25 towards:-1 btype:0x01 order_id:Order_Dn8wdXV1 account:Acc_DLSOVsom status:300 >

QUANTAXIS>> code 000007 date 2017-01-25 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0< QA_Order datetime:2017-01-26 09:31:00 code:000002 price:20.68 towards:1 btype:0x01 order_id:Order_UJRlGB75 account:Acc_DLSOVsom status:300 >

2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-26 price None order_model close amount_model by_amount

===== SETTLED None =====
[['2017-01-03 15:00:00', '000002', 20.73, 1000.0, 'Order_GDVhzZud', 'Trade_jZbgLrFl', 31.095000000000002], ['2017-01-04 15:00:00', '000007', 26.47, 1000.0, 'Order_C3JhLBbc', 'Trade_Pe9G6h4M', 39.705], ['2017-01-05 15:00:00', '000002', 20.93, 1000.0, 'Order_TEirj86L', 'Trade_kFgfOKBC', 31.395], ['2017-01-05 15:00:00', '000004', 44.44, 1000.0, 'Order_GX8FKBRI', 'Trade_e1fUVjDI', 66.66], ['2017-01-05 15:00:00', '000007', 26.24, 1000.0, 'Order_fPAxsY7i', 'Trade_v4TYw3GQ', 39.36], ['2017-01-06 15:00:00', '000002', 20.64, -1000.0, 'Order_4lnioSr7', 'Trade_grpbiSDj', 30.96], ['2017-01-06 15:00:00', '000004', 43.96, 1000.0, 'Order_BXEv1zQu', 'Trade_rBSYQtuM', 65.94], ['2017-01-06 15:00:00', '000007', 25.45, -1000.0, 'Order_munJsqzh', 'Trade_aveFyUNB', 38.175], ['2017-01-09 15:00:00', '000002', 20.66, -1000.0, 'Order_uxb5DHCG', 'Trade_zaoE8Hhn', 30.99], ['2017-01-09 15:00:00', '000004', 43.01, -1000.0, 'Order_gTZP2fCu', 'Trade_mphIaldg', 64.515], ['2017-01-09 15:00:00', '000007', 25.09, -1000.0, 'Order_VQq81XWM', 'Trade_jvoBGZns', 37.635000000000005], ['2017-01-10 15:00:00', '000001', 9.15, 1000.0, 'Order_WbVx2ZIr', 'Trade_5C30qLvr', 13.725000000000001], ['2017-01-10 15:00:00', '000002', 20.58, -1000.0, 'Order_roNIxeSk', 'Trade_9O2GuVRP', 30.869999999999997], ['2017-01-10 15:00:00', '000004', 43.25, 1000.0, 'Order_TmVrzIb6', 'Trade_cV6vhm58', 64.875], ['2017-01-10 15:00:00', '000007', 24.79, 1000.0, 'Order_B31DRicF', 'Trade_njgyE5os', 37.185], ['2017-01-11 15:00:00', '000001', 9.14, 1000.0, 'Order_R7gFECMm', 'Trade_58ZLOzWM', 13.71], ['2017-01-11 15:00:00', '000004', 42.45, 1000.0, 'Order_VKY9Mj7n', 'Trade_0u8wHgp1', 63.67500000000001], ['2017-01-11 15:00:00', '000007', 24.85, 1000.0, 'Order_OnNWeGUd', 'Trade_JgDsb8qE', 37.275000000000006], ['2017-01-12 15:00:00', '000004', 42.05, -1000.0, 'Order_3vNLndsy', 'Trade_kX4RLZNo', 63.07499999999999], ['2017-01-12 15:00:00', '000007', 24.61, 1000.0, 'Order_ONByrYIe', 'Trade_yJWn7r3Y', 36.915000000000006], ['2017-01-13 15:00:00', '000001', 9.16, -1000.0, 'Order_LY7oP8pK', 'Trade_FN7XG4pY', 13.74], ['2017-01-13 15:00:00', '000002', 21.81, 1000.0, 'Order_FvhpKC82', 'Trade_21keMtyd', 32.715], ['2017-01-13 15:00:00', '000004', 41.0, -1000.0, 'Order_2vA4TVD5', 'Trade_nkjI0yg8', 61.5], ['2017-01-13 15:00:00', '000007', 23.81, -1000.0, 'Order_c3OwkEIH', 'Trade_heIN6DJv', 35.714999999999996], ['2017-01-16 15:00:00', '000001', 9.14, -1000.0, 'Order_t01o7hcE', 'Trade_svOqDtz0', 13.71], ['2017-01-16 15:00:00', '000002', 21.0, 1000.0, 'Order_8jALpxhV', 'Trade_91p7hFEK', 31.5], ['2017-01-16 15:00:00', '000004', 38.26, 1000.0, 'Order_VO9aEBSe', 'Trade_HQyku4Xp', 57.38999999999999], ['2017-01-17 15:00:00', '000001', 9.15, 1000.0, 'Order_43lfcXsG', 'Trade_ODVBypU9', 13.725000000000001], ['2017-01-17 15:00:00', '000002', 20.8, 1000.0, 'Order_ioBAJUf1', 'Trade_nSXUTvNL', 31.200000000000003], ['2017-01-17 15:00:00', '000004', 37.37, -1000.0, 'Order_gic04ymv', 'Trade_SlhdCayp', 56.055], ['2017-01-18 15:00:00', '000002', 20.92, -1000.0, 'Order_HAJtRdhK', 'Trade_t8frMWAJ', 31.380000000000006], ['2017-01-18 15:00:00', '000004', 37.15, -1000.0, 'Order_UJdWDIx4', 'Trade_Myk5w7Oq', 55.724999999999994], ['2017-01-19 15:00:00', '000001', 9.18, -1000.0, 'Order_vJbQxnF7', 'Trade_dUSqnBYl', 13.77], ['2017-01-19 15:00:00', '000002', 20.6, 1000.0, 'Order_HOfCNQMk', 'Trade_P4Jxhrfc', 30.900000000000002], ['2017-01-20 15:00:00', '000001', 9.22, 1000.0, 'Order_nK2oTA8U', 'Trade_7ZhXWgl1', 13.830000000000002], ['2017-01-20 15:00:00', '000002', 20.68, -1000.0, 'Order_I9yrl3hp', 'Trade_NDsofS50', 31.02], ['2017-01-23 15:00:00', '000001', 9.22, -1000.0, 'Order_WlgL4MSs', 'Trade_I3ZtdVYC', 13.830000000000002], ['2017-01-23 15:00:00', '000002', 20.74, -1000.0, 'Order_1oIHuJW4', 'Trade_3m8JXMq0', 31.11], ['2017-01-24 15:00:00', '000004', 38.63, 1000.0, 'Order_EWN5lnrC', 'Trade_Xei45g6m', 57.945], ['2017-01-25 15:00:00', '000004', 38.25, -1000.0, 'Order_Dn8wdXV1', 'Trade_31jtklZg', 57.375], ['2017-01-26 15:00:00', '000002', 20.68, 1000.0, 'Order_UJRlGB75', 'Trade_8lTaAIH0', 31.02]]
[1000000, 979238.905, 952729.2000000001, 931767.805, 887261.145, 860981.785, 881590.8250000001, 837564.8850000001, 862976.7100000001, 883605.7200000001, 926551.2050000001, 951603.5700000001, 942439.8450000001, 962988.9750000001, 919674.1000000001, 894846.915, 885693.2050000001, 843179.53, 818292.255, 860279.18, 835632.265, 844778.525, 822935.81, 863874.31, 887648.5950000001, 896774.8850000001, 875743.3850000001, 837425.9950000001, 828262.2700000001, 807431.0700000002, 844745.0150000001, 865633.6350000001, 902727.9100000001, 911894.1400000001, 891263.2400000001, 882029.4100000001, 902678.3900000001, 911884.5600000002, 932593.4500000002, 893905.5050000002, 932098.1300000002, 911387.1100000002]
911387.1100000002
               datetime    code  price  amount        order_id  \
0   2017-01-03 15:00:00  000002  20.73  1000.0  Order_GDVhzZud
1   2017-01-04 15:00:00  000007  26.47  1000.0  Order_C3JhLBbc
2   2017-01-05 15:00:00  000002  20.93  1000.0  Order_TEirj86L
3   2017-01-05 15:00:00  000004  44.44  1000.0  Order_GX8FKBRI
4   2017-01-05 15:00:00  000007  26.24  1000.0  Order_fPAxsY7i
5   2017-01-06 15:00:00  000002  20.64 -1000.0  Order_4lnioSr7
6   2017-01-06 15:00:00  000004  43.96  1000.0  Order_BXEv1zQu
7   2017-01-06 15:00:00  000007  25.45 -1000.0  Order_munJsqzh
8   2017-01-09 15:00:00  000002  20.66 -1000.0  Order_uxb5DHCG
9   2017-01-09 15:00:00  000004  43.01 -1000.0  Order_gTZP2fCu
10  2017-01-09 15:00:00  000007  25.09 -1000.0  Order_VQq81XWM
11  2017-01-10 15:00:00  000001   9.15  1000.0  Order_WbVx2ZIr
12  2017-01-10 15:00:00  000002  20.58 -1000.0  Order_roNIxeSk
13  2017-01-10 15:00:00  000004  43.25  1000.0  Order_TmVrzIb6
14  2017-01-10 15:00:00  000007  24.79  1000.0  Order_B31DRicF
15  2017-01-11 15:00:00  000001   9.14  1000.0  Order_R7gFECMm
16  2017-01-11 15:00:00  000004  42.45  1000.0  Order_VKY9Mj7n
17  2017-01-11 15:00:00  000007  24.85  1000.0  Order_OnNWeGUd
18  2017-01-12 15:00:00  000004  42.05 -1000.0  Order_3vNLndsy
19  2017-01-12 15:00:00  000007  24.61  1000.0  Order_ONByrYIe
20  2017-01-13 15:00:00  000001   9.16 -1000.0  Order_LY7oP8pK
21  2017-01-13 15:00:00  000002  21.81  1000.0  Order_FvhpKC82
22  2017-01-13 15:00:00  000004  41.00 -1000.0  Order_2vA4TVD5
23  2017-01-13 15:00:00  000007  23.81 -1000.0  Order_c3OwkEIH
24  2017-01-16 15:00:00  000001   9.14 -1000.0  Order_t01o7hcE
25  2017-01-16 15:00:00  000002  21.00  1000.0  Order_8jALpxhV
26  2017-01-16 15:00:00  000004  38.26  1000.0  Order_VO9aEBSe
27  2017-01-17 15:00:00  000001   9.15  1000.0  Order_43lfcXsG
28  2017-01-17 15:00:00  000002  20.80  1000.0  Order_ioBAJUf1
29  2017-01-17 15:00:00  000004  37.37 -1000.0  Order_gic04ymv
30  2017-01-18 15:00:00  000002  20.92 -1000.0  Order_HAJtRdhK
31  2017-01-18 15:00:00  000004  37.15 -1000.0  Order_UJdWDIx4
32  2017-01-19 15:00:00  000001   9.18 -1000.0  Order_vJbQxnF7
33  2017-01-19 15:00:00  000002  20.60  1000.0  Order_HOfCNQMk
34  2017-01-20 15:00:00  000001   9.22  1000.0  Order_nK2oTA8U
35  2017-01-20 15:00:00  000002  20.68 -1000.0  Order_I9yrl3hp
36  2017-01-23 15:00:00  000001   9.22 -1000.0  Order_WlgL4MSs
37  2017-01-23 15:00:00  000002  20.74 -1000.0  Order_1oIHuJW4
38  2017-01-24 15:00:00  000004  38.63  1000.0  Order_EWN5lnrC
39  2017-01-25 15:00:00  000004  38.25 -1000.0  Order_Dn8wdXV1
40  2017-01-26 15:00:00  000002  20.68  1000.0  Order_UJRlGB75

          trade_id  commission_fee
0   Trade_jZbgLrFl          31.095
1   Trade_Pe9G6h4M          39.705
2   Trade_kFgfOKBC          31.395
3   Trade_e1fUVjDI          66.660
4   Trade_v4TYw3GQ          39.360
5   Trade_grpbiSDj          30.960
6   Trade_rBSYQtuM          65.940
7   Trade_aveFyUNB          38.175
8   Trade_zaoE8Hhn          30.990
9   Trade_mphIaldg          64.515
10  Trade_jvoBGZns          37.635
11  Trade_5C30qLvr          13.725
12  Trade_9O2GuVRP          30.870
13  Trade_cV6vhm58          64.875
14  Trade_njgyE5os          37.185
15  Trade_58ZLOzWM          13.710
16  Trade_0u8wHgp1          63.675
17  Trade_JgDsb8qE          37.275
18  Trade_kX4RLZNo          63.075
19  Trade_yJWn7r3Y          36.915
20  Trade_FN7XG4pY          13.740
21  Trade_21keMtyd          32.715
22  Trade_nkjI0yg8          61.500
23  Trade_heIN6DJv          35.715
24  Trade_svOqDtz0          13.710
25  Trade_91p7hFEK          31.500
26  Trade_HQyku4Xp          57.390
27  Trade_ODVBypU9          13.725
28  Trade_nSXUTvNL          31.200
29  Trade_SlhdCayp          56.055
30  Trade_t8frMWAJ          31.380
31  Trade_Myk5w7Oq          55.725
32  Trade_dUSqnBYl          13.770
33  Trade_P4Jxhrfc          30.900
34  Trade_7ZhXWgl1          13.830
35  Trade_NDsofS50          31.020
36  Trade_I3ZtdVYC          13.830
37  Trade_3m8JXMq0          31.110
38  Trade_Xei45g6m          57.945
39  Trade_31jtklZg          57.375

40  Trade_8lTaAIH0          31.020
code
000001       0.0
000002    1000.0
000004       0.0
000007    2000.0
Name: amount, dtype: float64

In [2]:
user.get_account(a_1).history_table

,datetime,code,price,amount,order_id,trade_id,commission_fee
0,2017-01-04 15:00:00,000001,9.16,1000.0,Order_k8Ej7nuC,Trade_68oGJRVy,13.740
1,2017-01-04 15:00:00,000002,20.85,1000.0,Order_y50Gq93S,Trade_cOReh3mQ,31.275
2,2017-01-05 15:00:00,000001,9.17,-1000.0,Order_NV4qv6cM,Trade_7T4d3DwS,13.755
3,2017-01-05 15:00:00,000002,20.93,-1000.0,Order_KkQSNTrZ,Trade_HSDWY6s7,31.395
4,2017-01-06 15:00:00,000004,43.96,1000.0,Order_kz9LRro0,Trade_JlcSMZ0t,65.940
5,2017-01-09 15:00:00,000004,43.01,-1000.0,Order_wIKNeA1p,Trade_1pfEYZha,64.515
6,2017-01-10 15:00:00,000007,24.79,1000.0,Order_Mn0isHLC,Trade_iJcw36ep,37.185
7,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_GRtrYONa,Trade_KkwPz3co,37.275
8,2017-01-17 15:00:00,000004,37.37,1000.0,Order_iSXesDcC,Trade_w3WPngTZ,56.055
9,2017-01-18 15:00:00,000004,37.15,1000.0,Order_iBHAW81d,Trade_nUyhgb8x,55.725
10,2017-01-19 15:00:00,000004,35.69,-1000.0,Order_gWqb9nzw,Trade_XfHzWonb,53.535
11,2017-01-20 15:00:00,000002,20.68,1000.0,Order_ba0ZLqAN,Trade_VfQqAbu0,31.020
12,2017-01-20 15:00:00,000004,36.48,-1000.0,Order_3SvpDqGC,Trade_Vja3ek9K,54.720
13,2017-01-23 15:00:00,000002,20.74,1000.0,Order_sTVDWbgz,Trade_q4ICm0X9,31.110
14,2017-01-23 15:00:00,000004,37.56,1000.0,Order_OA6RHWof,Trade_KyPRMgXz,56.340
15,2017-01-24 15:00:00,000002,20.69,-1000.0,Order_K143E8R6,Trade_pPyxUX1G,31.035
16,2017-01-24 15:00:00,000004,38.63,-1000.0,Order_gyt4suBY,Trade_ekUu7Szq,57.945
17,2017-01-25 15:00:00,000002,20.61,-1000.0,Order_9SADXKCr,Trade_CtDblr2K,30.915
18,2017-01-26 15:00:00,000001,9.33,1000.0,Order_ceQG491f,Trade_uPlyS3ds,13.995
19,2017-01-26 15:00:00,000004,38.29,1000.0,Order_YlnfxzPR,Trade_zXCHsMY9,57.435

In [3]:
r=QA.QA_Risk(user.get_account(a_1))

In [4]:
user.get_account(a_1).hold

code
000001    1000.0
000002       0.0
000004    1000.0
000007       0.0
Name: amount, dtype: float64

In [5]:
user.get_account(a_1).trade

code                 000001  000002  000004  000007
datetime
2017-01-04 15:00:00  1000.0  1000.0     0.0     0.0
2017-01-05 15:00:00 -1000.0 -1000.0     0.0     0.0
2017-01-06 15:00:00     0.0     0.0  1000.0     0.0
2017-01-09 15:00:00     0.0     0.0 -1000.0     0.0
2017-01-10 15:00:00     0.0     0.0     0.0  1000.0
2017-01-11 15:00:00     0.0     0.0     0.0 -1000.0
2017-01-17 15:00:00     0.0     0.0  1000.0     0.0
2017-01-18 15:00:00     0.0     0.0  1000.0     0.0
2017-01-19 15:00:00     0.0     0.0 -1000.0     0.0
2017-01-20 15:00:00     0.0  1000.0 -1000.0     0.0
2017-01-23 15:00:00     0.0  1000.0  1000.0     0.0
2017-01-24 15:00:00     0.0 -1000.0 -1000.0     0.0
2017-01-25 15:00:00     0.0 -1000.0     0.0     0.0
2017-01-26 15:00:00  1000.0     0.0  1000.0     0.0

In [6]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-04  1000.0  1000.0     0.0     0.0
2017-01-05     0.0     0.0     0.0     0.0
2017-01-06     0.0     0.0  1000.0     0.0
2017-01-09     0.0     0.0     0.0     0.0
2017-01-10     0.0     0.0     0.0  1000.0
2017-01-11     0.0     0.0     0.0     0.0
2017-01-17     0.0     0.0  1000.0     0.0
2017-01-18     0.0     0.0  2000.0     0.0
2017-01-19     0.0     0.0  1000.0     0.0
2017-01-20     0.0  1000.0     0.0     0.0
2017-01-23     0.0  2000.0  1000.0     0.0
2017-01-24     0.0  1000.0     0.0     0.0
2017-01-25     0.0     0.0     0.0     0.0
2017-01-26  1000.0     0.0  1000.0     0.0

In [7]:
market.insert_order(account_id=a_1, amount=2000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time='2017-01-26', code='000001',
                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)

In [8]:
    market._settle(QA.BROKER_TYPE.BACKETEST)

===== SETTLED None =====

In [10]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-04  1000.0  1000.0     0.0     0.0
2017-01-05     0.0     0.0     0.0     0.0
2017-01-06     0.0     0.0  1000.0     0.0
2017-01-09     0.0     0.0     0.0     0.0
2017-01-10     0.0     0.0     0.0  1000.0
2017-01-11     0.0     0.0     0.0     0.0
2017-01-17     0.0     0.0  1000.0     0.0
2017-01-18     0.0     0.0  2000.0     0.0
2017-01-19     0.0     0.0  1000.0     0.0
2017-01-20     0.0  1000.0     0.0     0.0
2017-01-23     0.0  2000.0  1000.0     0.0
2017-01-24     0.0  1000.0     0.0     0.0
2017-01-25     0.0     0.0     0.0     0.0
2017-01-26  1000.0     0.0  1000.0     0.0