In [1]:
import QUANTAXIS as QA
import random
market = QA.QA_Market()
user = QA.QA_Portfolio()
# 创建两个account
# 这里是创建一个资产组合,然后在组合里面创建两个account  你可以想象成股票里面的两个策略账户
# 然后返回的是这个账户的id
a_1 = user.new_account()

market.start()
market.connect(QA.RUNNING_ENVIRONMENT.BACKETEST)

# 打印market
print(market)


"""
登陆到这个交易前置上 把你刚才的两个账户
"""
# 登陆交易
market.login(QA.BROKER_TYPE.BACKETEST, a_1, user.get_account(a_1))




for date in QA.QA_util_get_trade_range('2017-01-01','2017-01-31'):
    for code in ['000001', '000002', '000004', '000007']:
        if random.random()<0.3:
            market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.BUY, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
        else:
            try:
                print(user.get_account(a_1).sell_available.get(code,0))
                market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
            except:
                pass
    market._settle(QA.BROKER_TYPE.BACKETEST)
        
while True:
    if market.clear():
        break
print(user.get_account(a_1).history)
print(user.get_account(a_1).cash)
print(user.get_account(a_1).cash_available)
print(user.get_account(a_1).history_table)
print(user.get_account(a_1).hold)

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX

Bad REPSONSE 61.152.107.141

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 218.75.126.9 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is remake-version
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

< QA_MARKET with ['backtest'] Broker >
===== SETTLED None =====< QA_Order datetime:2017-01-03 09:31:00 code:000002 price:20.73 towards:1 btype:0x01 order_id:Order_d1iAK0pk account:Acc_9ZTmjXit status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-04 09:31:00 code:000001 price:9.16 towards:1 btype:0x01 order_id:Order_EWjxiceG account:Acc_9ZTmjXit status:300 >
0
< QA_Order datetime:2017-01-04 09:31:00 code:000004 price:44.7 towards:1 btype:0x01 order_id:Order_maz58XcG account:Acc_9ZTmjXit status:300 >
0
0< QA_Order datetime:2017-01-05 09:31:00 code:000002 price:20.93 towards:1 btype:0x01 order_id:Order_tV5RvKO3 account:Acc_9ZTmjXit status:300 >

===== SETTLED None =====
1000.0
2000.0< QA_Order datetime:2017-01-06 09:31:00 code:000001 price:9.13 towards:-1 btype:0x01 order_id:Order_wUmy3lVr account:Acc_9ZTmjXit status:300 >

1000.0
< QA_Order datetime:2017-01-06 09:31:00 code:000002 price:20.64 towards:-1 btype:0x01 order_id:Order_DMBvd0Yj account:Acc_9ZTmjXit status:300 >
===== SETTLED None =====< QA_Order datetime:2017-01-06 09:31:00 code:000004 price:43.96 towards:-1 btype:0x01 order_id:Order_fgjU1dks account:Acc_9ZTmjXit status:300 >

0.0< QA_Order datetime:2017-01-06 09:31:00 code:000007 price:25.45 towards:1 btype:0x01 order_id:Order_eqMBoDuJ account:Acc_9ZTmjXit status:300 >

1000.0
0.0< QA_Order datetime:2017-01-09 09:31:00 code:000002 price:20.66 towards:-1 btype:0x01 order_id:Order_aMk8dKbL account:Acc_9ZTmjXit status:300 >

===== SETTLED None =====< QA_Order datetime:2017-01-09 09:31:00 code:000007 price:25.09 towards:1 btype:0x01 order_id:Order_kFViUMDg account:Acc_9ZTmjXit status:300 >

0.0
0.0
0.0
2000.0
===== SETTLED None =====< QA_Order datetime:2017-01-10 09:31:00 code:000007 price:24.79 towards:-1 btype:0x01 order_id:Order_Cz90YZiX account:Acc_9ZTmjXit status:300 >

0.0
1000.0< QA_Order datetime:2017-01-11 09:31:00 code:000002 price:20.4 towards:1 btype:0x01 order_id:Order_TfXOton6 account:Acc_9ZTmjXit status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-11 09:31:00 code:000004 price:42.45 towards:1 btype:0x01 order_id:Order_T89RPQHo account:Acc_9ZTmjXit status:300 >0.0

< QA_Order datetime:2017-01-11 09:31:00 code:000007 price:24.85 towards:-1 btype:0x01 order_id:Order_HRzsAVry account:Acc_9ZTmjXit status:300 >0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000002 date 2017-01-12 price None order_model close amount_model by_amount

===== SETTLED None =====< QA_Order datetime:2017-01-12 09:31:00 code:000004 price:42.05 towards:1 btype:0x01 order_id:Order_D0EzLOam account:Acc_9ZTmjXit status:300 >

0.0< QA_Order datetime:2017-01-12 09:31:00 code:000007 price:24.61 towards:1 btype:0x01 order_id:Order_bBxliOtL account:Acc_9ZTmjXit status:300 >

1000.0
2000.0< QA_Order datetime:2017-01-13 09:31:00 code:000002 price:21.81 towards:-1 btype:0x01 order_id:Order_igSP0qUM account:Acc_9ZTmjXit status:300 >

1000.0
< QA_Order datetime:2017-01-13 09:31:00 code:000004 price:41.0 towards:-1 btype:0x01 order_id:Order_a7Gnwd06 account:Acc_9ZTmjXit status:300 >
===== SETTLED None =====
< QA_Order datetime:2017-01-13 09:31:00 code:000007 price:23.81 towards:-1 btype:0x01 order_id:Order_9Y1uBKJV account:Acc_9ZTmjXit status:300 >
0.0
0.0
0.0< QA_Order datetime:2017-01-16 09:31:00 code:000004 price:38.26 towards:1 btype:0x01 order_id:Order_dk2Qt9DT account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-16 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
2000.0< QA_Order datetime:2017-01-17 09:31:00 code:000002 price:20.8 towards:1 btype:0x01 order_id:Order_PKsdI6yb account:Acc_9ZTmjXit status:300 >

0.0
< QA_Order datetime:2017-01-17 09:31:00 code:000004 price:37.37 towards:-1 btype:0x01 order_id:Order_a5DgtLGH account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-17 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0
1000.0< QA_Order datetime:2017-01-18 09:31:00 code:000002 price:20.92 towards:-1 btype:0x01 order_id:Order_8RcuCD5J account:Acc_9ZTmjXit status:300 >

0.0< QA_Order datetime:2017-01-18 09:31:00 code:000004 price:37.15 towards:-1 btype:0x01 order_id:Order_SAV0P4mD account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-18 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0< QA_Order datetime:2017-01-19 09:31:00 code:000002 price:20.6 towards:1 btype:0x01 order_id:Order_uo8PNQbn account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-19 09:31:00 code:000004 price:35.69 towards:1 btype:0x01 order_id:Order_SB62IgAP account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> code 000007 date 2017-01-19 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0< QA_Order datetime:2017-01-20 09:31:00 code:000001 price:9.22 towards:1 btype:0x01 order_id:Order_d5jLO8l9 account:Acc_9ZTmjXit status:300 >

0.0
< QA_Order datetime:2017-01-20 09:31:00 code:000002 price:20.68 towards:-1 btype:0x01 order_id:Order_StIzDUc7 account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-20 09:31:00 code:000004 price:36.48 towards:1 btype:0x01 order_id:Order_FAYyxeMD account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> code 000007 date 2017-01-20 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0
0.0< QA_Order datetime:2017-01-23 09:31:00 code:000001 price:9.22 towards:-1 btype:0x01 order_id:Order_geISmvyG account:Acc_9ZTmjXit status:300 >

0.0
< QA_Order datetime:2017-01-23 09:31:00 code:000004 price:37.56 towards:1 btype:0x01 order_id:Order_lWBXf2kn account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-23 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0< QA_Order datetime:2017-01-24 09:31:00 code:000001 price:9.27 towards:1 btype:0x01 order_id:Order_QJRv10Wd account:Acc_9ZTmjXit status:300 >

0.0< QA_Order datetime:2017-01-24 09:31:00 code:000004 price:38.63 towards:1 btype:0x01 order_id:Order_jKmsMxTi account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-24 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0< QA_Order datetime:2017-01-25 09:31:00 code:000001 price:9.26 towards:1 btype:0x01 order_id:Order_YrW8IoTz account:Acc_9ZTmjXit status:300 >

4000.0
0.0< QA_Order datetime:2017-01-25 09:31:00 code:000004 price:38.25 towards:-1 btype:0x01 order_id:Order_BwCpvyrc account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-25 price None order_model close amount_model by_amount

===== SETTLED None =====
2000.0
< QA_Order datetime:2017-01-26 09:31:00 code:000001 price:9.33 towards:-1 btype:0x01 order_id:Order_Td87x2Bk account:Acc_9ZTmjXit status:300 >3000.0

0.0< QA_Order datetime:2017-01-26 09:31:00 code:000002 price:20.68 towards:1 btype:0x01 order_id:Order_Nt9w7yPp account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-26 09:31:00 code:000004 price:38.29 towards:-1 btype:0x01 order_id:Order_CVYFysP0 account:Acc_9ZTmjXit status:300 >

QUANTAXIS>> code 000007 date 2017-01-26 price None order_model close amount_model by_amount

===== SETTLED None =====
[['2017-01-03 15:00:00', '000002', 20.73, 1000.0, 'Order_d1iAK0pk', 'Trade_1hvUBdwn', 31.095000000000002], ['2017-01-04 15:00:00', '000001', 9.16, 1000.0, 'Order_EWjxiceG', 'Trade_9x2Q5KhN', 13.74], ['2017-01-04 15:00:00', '000004', 44.7, 1000.0, 'Order_maz58XcG', 'Trade_7AoOxv38', 67.05000000000001], ['2017-01-05 15:00:00', '000002', 20.93, 1000.0, 'Order_tV5RvKO3', 'Trade_4MGJlTKQ', 31.395], ['2017-01-06 15:00:00', '000001', 9.13, -1000.0, 'Order_wUmy3lVr', 'Trade_dqUNh2R4', 13.695000000000002], ['2017-01-06 15:00:00', '000002', 20.64, -1000.0, 'Order_DMBvd0Yj', 'Trade_RvIH4aOm', 30.96], ['2017-01-06 15:00:00', '000004', 43.96, -1000.0, 'Order_fgjU1dks', 'Trade_1OGUr8ao', 65.94], ['2017-01-06 15:00:00', '000007', 25.45, 1000.0, 'Order_eqMBoDuJ', 'Trade_3jktOTlK', 38.175], ['2017-01-09 15:00:00', '000002', 20.66, -1000.0, 'Order_aMk8dKbL', 'Trade_tOHfnd17', 30.99], ['2017-01-09 15:00:00', '000007', 25.09, 1000.0, 'Order_kFViUMDg', 'Trade_wOkTdByc', 37.635000000000005], ['2017-01-10 15:00:00', '000007', 24.79, -1000.0, 'Order_Cz90YZiX', 'Trade_wNKvGOT9', 37.185], ['2017-01-11 15:00:00', '000002', 20.4, 1000.0, 'Order_TfXOton6', 'Trade_fwA24hri', 30.599999999999998], ['2017-01-11 15:00:00', '000004', 42.45, 1000.0, 'Order_T89RPQHo', 'Trade_FKmjXV3u', 63.67500000000001], ['2017-01-11 15:00:00', '000007', 24.85, -1000.0, 'Order_HRzsAVry', 'Trade_xsn6ecMB', 37.275000000000006], ['2017-01-12 15:00:00', '000004', 42.05, 1000.0, 'Order_D0EzLOam', 'Trade_4xQHNq7c', 63.07499999999999], ['2017-01-12 15:00:00', '000007', 24.61, 1000.0, 'Order_bBxliOtL', 'Trade_XVAcq5wH', 36.915000000000006], ['2017-01-13 15:00:00', '000002', 21.81, -1000.0, 'Order_igSP0qUM', 'Trade_pKjBt9of', 32.715], ['2017-01-13 15:00:00', '000004', 41.0, -1000.0, 'Order_a7Gnwd06', 'Trade_AOBp3MDf', 61.5], ['2017-01-13 15:00:00', '000007', 23.81, -1000.0, 'Order_9Y1uBKJV', 'Trade_QP3GY0k4', 35.714999999999996], ['2017-01-16 15:00:00', '000004', 38.26, 1000.0, 'Order_dk2Qt9DT', 'Trade_Pw0si73R', 57.38999999999999], ['2017-01-17 15:00:00', '000002', 20.8, 1000.0, 'Order_PKsdI6yb', 'Trade_Egv73cLe', 31.200000000000003], ['2017-01-17 15:00:00', '000004', 37.37, -1000.0, 'Order_a5DgtLGH', 'Trade_lNQgnXhU', 56.055], ['2017-01-18 15:00:00', '000002', 20.92, -1000.0, 'Order_8RcuCD5J', 'Trade_A6YrXtGH', 31.380000000000006], ['2017-01-18 15:00:00', '000004', 37.15, -1000.0, 'Order_SAV0P4mD', 'Trade_z0aN2SIB', 55.724999999999994], ['2017-01-19 15:00:00', '000002', 20.6, 1000.0, 'Order_uo8PNQbn', 'Trade_l7fAWLBD', 30.900000000000002], ['2017-01-19 15:00:00', '000004', 35.69, 1000.0, 'Order_SB62IgAP', 'Trade_BIPuR15L', 53.535], ['2017-01-20 15:00:00', '000001', 9.22, 1000.0, 'Order_d5jLO8l9', 'Trade_FNObUWCS', 13.830000000000002], ['2017-01-20 15:00:00', '000002', 20.68, -1000.0, 'Order_StIzDUc7', 'Trade_ieNJt90m', 31.02], ['2017-01-20 15:00:00', '000004', 36.48, 1000.0, 'Order_FAYyxeMD', 'Trade_Bnxm4iAZ', 54.72], ['2017-01-23 15:00:00', '000001', 9.22, -1000.0, 'Order_geISmvyG', 'Trade_OtLUxY7I', 13.830000000000002], ['2017-01-23 15:00:00', '000004', 37.56, 1000.0, 'Order_lWBXf2kn', 'Trade_msfHwhnM', 56.34], ['2017-01-24 15:00:00', '000001', 9.27, 1000.0, 'Order_QJRv10Wd', 'Trade_ux1Rt4TO', 13.905], ['2017-01-24 15:00:00', '000004', 38.63, 1000.0, 'Order_jKmsMxTi', 'Trade_lTybv6x1', 57.945], ['2017-01-25 15:00:00', '000001', 9.26, 1000.0, 'Order_YrW8IoTz', 'Trade_Gdu0Jxoz', 13.889999999999999], ['2017-01-25 15:00:00', '000004', 38.25, -1000.0, 'Order_BwCpvyrc', 'Trade_1suRi7BL', 57.375], ['2017-01-26 15:00:00', '000001', 9.33, -1000.0, 'Order_Td87x2Bk', 'Trade_krvc0x4l', 13.995000000000001], ['2017-01-26 15:00:00', '000002', 20.68, 1000.0, 'Order_Nt9w7yPp', 'Trade_YMr4PqUC', 31.02], ['2017-01-26 15:00:00', '000004', 38.29, -1000.0, 'Order_CVYFysP0', 'Trade_5VNwFJHQ', 57.435]]
[1000000, 979238.905, 970065.165, 925298.115, 904336.72, 913453.025, 934062.0650000001, 977956.1250000001, 952467.9500000001, 973096.9600000001, 947969.3250000001, 972722.14, 952291.54, 909777.865, 934590.59, 892477.515, 867830.6, 889607.885, 930546.385, 954320.67, 916003.28, 895172.0800000001, 932486.025, 953374.645, 990468.92, 969838.02, 934094.485, 924860.655, 945509.635, 908974.915, 918181.0850000001, 880564.7450000001, 871280.8400000001, 832592.8950000001, 823319.0050000001, 861511.6300000001, 870827.6350000001, 850116.6150000001, 888349.18]
888349.18
               datetime    code  price  amount        order_id  \
0   2017-01-03 15:00:00  000002  20.73  1000.0  Order_d1iAK0pk
1   2017-01-04 15:00:00  000001   9.16  1000.0  Order_EWjxiceG
2   2017-01-04 15:00:00  000004  44.70  1000.0  Order_maz58XcG
3   2017-01-05 15:00:00  000002  20.93  1000.0  Order_tV5RvKO3
4   2017-01-06 15:00:00  000001   9.13 -1000.0  Order_wUmy3lVr
5   2017-01-06 15:00:00  000002  20.64 -1000.0  Order_DMBvd0Yj
6   2017-01-06 15:00:00  000004  43.96 -1000.0  Order_fgjU1dks
7   2017-01-06 15:00:00  000007  25.45  1000.0  Order_eqMBoDuJ
8   2017-01-09 15:00:00  000002  20.66 -1000.0  Order_aMk8dKbL
9   2017-01-09 15:00:00  000007  25.09  1000.0  Order_kFViUMDg
10  2017-01-10 15:00:00  000007  24.79 -1000.0  Order_Cz90YZiX
11  2017-01-11 15:00:00  000002  20.40  1000.0  Order_TfXOton6
12  2017-01-11 15:00:00  000004  42.45  1000.0  Order_T89RPQHo
13  2017-01-11 15:00:00  000007  24.85 -1000.0  Order_HRzsAVry
14  2017-01-12 15:00:00  000004  42.05  1000.0  Order_D0EzLOam
15  2017-01-12 15:00:00  000007  24.61  1000.0  Order_bBxliOtL
16  2017-01-13 15:00:00  000002  21.81 -1000.0  Order_igSP0qUM
17  2017-01-13 15:00:00  000004  41.00 -1000.0  Order_a7Gnwd06
18  2017-01-13 15:00:00  000007  23.81 -1000.0  Order_9Y1uBKJV
19  2017-01-16 15:00:00  000004  38.26  1000.0  Order_dk2Qt9DT
20  2017-01-17 15:00:00  000002  20.80  1000.0  Order_PKsdI6yb
21  2017-01-17 15:00:00  000004  37.37 -1000.0  Order_a5DgtLGH
22  2017-01-18 15:00:00  000002  20.92 -1000.0  Order_8RcuCD5J
23  2017-01-18 15:00:00  000004  37.15 -1000.0  Order_SAV0P4mD
24  2017-01-19 15:00:00  000002  20.60  1000.0  Order_uo8PNQbn
25  2017-01-19 15:00:00  000004  35.69  1000.0  Order_SB62IgAP
26  2017-01-20 15:00:00  000001   9.22  1000.0  Order_d5jLO8l9
27  2017-01-20 15:00:00  000002  20.68 -1000.0  Order_StIzDUc7
28  2017-01-20 15:00:00  000004  36.48  1000.0  Order_FAYyxeMD
29  2017-01-23 15:00:00  000001   9.22 -1000.0  Order_geISmvyG
30  2017-01-23 15:00:00  000004  37.56  1000.0  Order_lWBXf2kn
31  2017-01-24 15:00:00  000001   9.27  1000.0  Order_QJRv10Wd
32  2017-01-24 15:00:00  000004  38.63  1000.0  Order_jKmsMxTi
33  2017-01-25 15:00:00  000001   9.26  1000.0  Order_YrW8IoTz
34  2017-01-25 15:00:00  000004  38.25 -1000.0  Order_BwCpvyrc
35  2017-01-26 15:00:00  000001   9.33 -1000.0  Order_Td87x2Bk
36  2017-01-26 15:00:00  000002  20.68  1000.0  Order_Nt9w7yPp
37  2017-01-26 15:00:00  000004  38.29 -1000.0  Order_CVYFysP0

          trade_id  commission_fee
0   Trade_1hvUBdwn          31.095
1   Trade_9x2Q5KhN          13.740
2   Trade_7AoOxv38          67.050
3   Trade_4MGJlTKQ          31.395
4   Trade_dqUNh2R4          13.695
5   Trade_RvIH4aOm          30.960
6   Trade_1OGUr8ao          65.940
7   Trade_3jktOTlK          38.175
8   Trade_tOHfnd17          30.990
9   Trade_wOkTdByc          37.635
10  Trade_wNKvGOT9          37.185
11  Trade_fwA24hri          30.600
12  Trade_FKmjXV3u          63.675
13  Trade_xsn6ecMB          37.275
14  Trade_4xQHNq7c          63.075
15  Trade_XVAcq5wH          36.915
16  Trade_pKjBt9of          32.715
17  Trade_AOBp3MDf          61.500
18  Trade_QP3GY0k4          35.715
19  Trade_Pw0si73R          57.390
20  Trade_Egv73cLe          31.200
21  Trade_lNQgnXhU          56.055
22  Trade_A6YrXtGH          31.380
23  Trade_z0aN2SIB          55.725
24  Trade_l7fAWLBD          30.900
25  Trade_BIPuR15L          53.535
26  Trade_FNObUWCS          13.830
27  Trade_ieNJt90m          31.020
28  Trade_Bnxm4iAZ          54.720
29  Trade_OtLUxY7I          13.830
30  Trade_msfHwhnM          56.340
31  Trade_ux1Rt4TO          13.905
32  Trade_lTybv6x1          57.945
33  Trade_Gdu0Jxoz          13.890
34  Trade_1suRi7BL          57.375
35  Trade_krvc0x4l          13.995
36  Trade_YMr4PqUC          31.020

37  Trade_5VNwFJHQ          57.435
code
000001    1000.0
000002    1000.0
000004    2000.0
000007       0.0
Name: amount, dtype: float64

In [2]:
user.get_account(a_1).history_table

,datetime,code,price,amount,order_id,trade_id,commission_fee
0,2017-01-03 15:00:00,000002,20.73,1000.0,Order_d1iAK0pk,Trade_1hvUBdwn,31.095
1,2017-01-04 15:00:00,000001,9.16,1000.0,Order_EWjxiceG,Trade_9x2Q5KhN,13.740
2,2017-01-04 15:00:00,000004,44.70,1000.0,Order_maz58XcG,Trade_7AoOxv38,67.050
3,2017-01-05 15:00:00,000002,20.93,1000.0,Order_tV5RvKO3,Trade_4MGJlTKQ,31.395
4,2017-01-06 15:00:00,000001,9.13,-1000.0,Order_wUmy3lVr,Trade_dqUNh2R4,13.695
5,2017-01-06 15:00:00,000002,20.64,-1000.0,Order_DMBvd0Yj,Trade_RvIH4aOm,30.960
6,2017-01-06 15:00:00,000004,43.96,-1000.0,Order_fgjU1dks,Trade_1OGUr8ao,65.940
7,2017-01-06 15:00:00,000007,25.45,1000.0,Order_eqMBoDuJ,Trade_3jktOTlK,38.175
8,2017-01-09 15:00:00,000002,20.66,-1000.0,Order_aMk8dKbL,Trade_tOHfnd17,30.990
9,2017-01-09 15:00:00,000007,25.09,1000.0,Order_kFViUMDg,Trade_wOkTdByc,37.635
10,2017-01-10 15:00:00,000007,24.79,-1000.0,Order_Cz90YZiX,Trade_wNKvGOT9,37.185
11,2017-01-11 15:00:00,000002,20.40,1000.0,Order_TfXOton6,Trade_fwA24hri,30.600
12,2017-01-11 15:00:00,000004,42.45,1000.0,Order_T89RPQHo,Trade_FKmjXV3u,63.675
13,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_HRzsAVry,Trade_xsn6ecMB,37.275
14,2017-01-12 15:00:00,000004,42.05,1000.0,Order_D0EzLOam,Trade_4xQHNq7c,63.075
15,2017-01-12 15:00:00,000007,24.61,1000.0,Order_bBxliOtL,Trade_XVAcq5wH,36.915
16,2017-01-13 15:00:00,000002,21.81,-1000.0,Order_igSP0qUM,Trade_pKjBt9of,32.715
17,2017-01-13 15:00:00,000004,41.00,-1000.0,Order_a7Gnwd06,Trade_AOBp3MDf,61.500
18,2017-01-13 15:00:00,000007,23.81,-1000.0,Order_9Y1uBKJV,Trade_QP3GY0k4,35.715
19,2017-01-16 15:00:00,000004,38.26,1000.0,Order_dk2Qt9DT,Trade_Pw0si73R,57.390
20,2017-01-17 15:00:00,000002,20.80,1000.0,Order_PKsdI6yb,Trade_Egv73cLe,31.200
21,2017-01-17 15:00:00,000004,37.37,-1000.0,Order_a5DgtLGH,Trade_lNQgnXhU,56.055
22,2017-01-18 15:00:00,000002,20.92,-1000.0,Order_8RcuCD5J,Trade_A6YrXtGH,31.380
23,2017-01-18 15:00:00,000004,37.15,-1000.0,Order_SAV0P4mD,Trade_z0aN2SIB,55.725
24,2017-01-19 15:00:00,000002,20.60,1000.0,Order_uo8PNQbn,Trade_l7fAWLBD,30.900
25,2017-01-19 15:00:00,000004,35.69,1000.0,Order_SB62IgAP,Trade_BIPuR15L,53.535
26,2017-01-20 15:00:00,000001,9.22,1000.0,Order_d5jLO8l9,Trade_FNObUWCS,13.830
27,2017-01-20 15:00:00,000002,20.68,-1000.0,Order_StIzDUc7,Trade_ieNJt90m,31.020
28,2017-01-20 15:00:00,000004,36.48,1000.0,Order_FAYyxeMD,Trade_Bnxm4iAZ,54.720
29,2017-01-23 15:00:00,000001,9.22,-1000.0,Order_geISmvyG,Trade_OtLUxY7I,13.830
30,2017-01-23 15:00:00,000004,37.56,1000.0,Order_lWBXf2kn,Trade_msfHwhnM,56.340
31,2017-01-24 15:00:00,000001,9.27,1000.0,Order_QJRv10Wd,Trade_ux1Rt4TO,13.905
32,2017-01-24 15:00:00,000004,38.63,1000.0,Order_jKmsMxTi,Trade_lTybv6x1,57.945
33,2017-01-25 15:00:00,000001,9.26,1000.0,Order_YrW8IoTz,Trade_Gdu0Jxoz,13.890
34,2017-01-25 15:00:00,000004,38.25,-1000.0,Order_BwCpvyrc,Trade_1suRi7BL,57.375
35,2017-01-26 15:00:00,000001,9.33,-1000.0,Order_Td87x2Bk,Trade_krvc0x4l,13.995
36,2017-01-26 15:00:00,000002,20.68,1000.0,Order_Nt9w7yPp,Trade_YMr4PqUC,31.020
37,2017-01-26 15:00:00,000004,38.29,-1000.0,Order_CVYFysP0,Trade_5VNwFJHQ,57.435

In [3]:
r=QA.QA_Risk(user.get_account(a_1))

In [4]:
user.get_account(a_1).hold

code
000001    1000.0
000002    1000.0
000004    2000.0
000007       0.0
Name: amount, dtype: float64

In [5]:
user.get_account(a_1).trade

code                 000001  000002  000004  000007
datetime
2017-01-03 15:00:00     0.0  1000.0     0.0     0.0
2017-01-04 15:00:00  1000.0     0.0  1000.0     0.0
2017-01-05 15:00:00     0.0  1000.0     0.0     0.0
2017-01-06 15:00:00 -1000.0 -1000.0 -1000.0  1000.0
2017-01-09 15:00:00     0.0 -1000.0     0.0  1000.0
2017-01-10 15:00:00     0.0     0.0     0.0 -1000.0
2017-01-11 15:00:00     0.0  1000.0  1000.0 -1000.0
2017-01-12 15:00:00     0.0     0.0  1000.0  1000.0
2017-01-13 15:00:00     0.0 -1000.0 -1000.0 -1000.0
2017-01-16 15:00:00     0.0     0.0  1000.0     0.0
2017-01-17 15:00:00     0.0  1000.0 -1000.0     0.0
2017-01-18 15:00:00     0.0 -1000.0 -1000.0     0.0
2017-01-19 15:00:00     0.0  1000.0  1000.0     0.0
2017-01-20 15:00:00  1000.0 -1000.0  1000.0     0.0
2017-01-23 15:00:00 -1000.0     0.0  1000.0     0.0
2017-01-24 15:00:00  1000.0     0.0  1000.0     0.0
2017-01-25 15:00:00  1000.0     0.0 -1000.0     0.0
2017-01-26 15:00:00 -1000.0  1000.0 -1000.0     0.0

In [6]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0     0.0     0.0
2017-01-04  1000.0  1000.0  1000.0     0.0
2017-01-05  1000.0  2000.0  1000.0     0.0
2017-01-06     0.0  1000.0     0.0  1000.0
2017-01-09     0.0     0.0     0.0  2000.0
2017-01-10     0.0     0.0     0.0  1000.0
2017-01-11     0.0  1000.0  1000.0     0.0
2017-01-12     0.0  1000.0  2000.0  1000.0
2017-01-13     0.0     0.0  1000.0     0.0
2017-01-16     0.0     0.0  2000.0     0.0
2017-01-17     0.0  1000.0  1000.0     0.0
2017-01-18     0.0     0.0     0.0     0.0
2017-01-19     0.0  1000.0  1000.0     0.0
2017-01-20  1000.0     0.0  2000.0     0.0
2017-01-23     0.0     0.0  3000.0     0.0
2017-01-24  1000.0     0.0  4000.0     0.0
2017-01-25  2000.0     0.0  3000.0     0.0
2017-01-26  1000.0  1000.0  2000.0     0.0

In [7]:
market.insert_order(account_id=a_1, amount=2000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time='2017-01-27', code='000001',
                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000001 date 2017-01-27 price None order_model close amount_model by_amount

In [8]:
    market._settle(QA.BROKER_TYPE.BACKETEST)

===== SETTLED None =====

In [9]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0     0.0     0.0
2017-01-04  1000.0  1000.0  1000.0     0.0
2017-01-05  1000.0  2000.0  1000.0     0.0
2017-01-06     0.0  1000.0     0.0  1000.0
2017-01-09     0.0     0.0     0.0  2000.0
2017-01-10     0.0     0.0     0.0  1000.0
2017-01-11     0.0  1000.0  1000.0     0.0
2017-01-12     0.0  1000.0  2000.0  1000.0
2017-01-13     0.0     0.0  1000.0     0.0
2017-01-16     0.0     0.0  2000.0     0.0
2017-01-17     0.0  1000.0  1000.0     0.0
2017-01-18     0.0     0.0     0.0     0.0
2017-01-19     0.0  1000.0  1000.0     0.0
2017-01-20  1000.0     0.0  2000.0     0.0
2017-01-23     0.0     0.0  3000.0     0.0
2017-01-24  1000.0     0.0  4000.0     0.0
2017-01-25  2000.0     0.0  3000.0     0.0
2017-01-26  1000.0  1000.0  2000.0     0.0

In [10]:
data=QA.QA_fetch_stock_day_adv(['000001','000002','000004','000007'],'2017-01-03','2017-01-26')

In [11]:
md=data.pivot('close')
md

code        000001  000002  000004  000007
date
2017-01-03    9.16   20.73   44.45   26.10
2017-01-04    9.16   20.85   44.70   26.47
2017-01-05    9.17   20.93   44.44   26.24
2017-01-06    9.13   20.64   43.96   25.45
2017-01-09    9.15   20.66   43.01   25.09
2017-01-10    9.15   20.58   43.25   24.79
2017-01-11    9.14   20.40   42.45   24.85
2017-01-12    9.15     NaN   42.05   24.61
2017-01-13    9.16   21.81   41.00   23.81
2017-01-16    9.14   21.00   38.26     NaN
2017-01-17    9.15   20.80   37.37     NaN
2017-01-18    9.17   20.92   37.15     NaN
2017-01-19    9.18   20.60   35.69     NaN
2017-01-20    9.22   20.68   36.48     NaN
2017-01-23    9.22   20.74   37.56     NaN
2017-01-24    9.27   20.69   38.63     NaN
2017-01-25    9.26   20.61   38.25     NaN
2017-01-26    9.33   20.68   38.29     NaN

In [12]:
(user.get_account(a_1).daily_hold*md).sum(axis=1)

date
2017-01-03     20730.0
2017-01-04     74710.0
2017-01-05     95470.0
2017-01-06     46090.0
2017-01-09     50180.0
2017-01-10     24790.0
2017-01-11     62850.0
2017-01-12    108710.0
2017-01-13     41000.0
2017-01-16     76520.0
2017-01-17     58170.0
2017-01-18         0.0
2017-01-19     56290.0
2017-01-20     82180.0
2017-01-23    112680.0
2017-01-24    163790.0
2017-01-25    133270.0
2017-01-26    106590.0
dtype: float64

In [13]:
user.get_account(a_1).cash[1::]

[979238.905,
 970065.165,
 925298.115,
 904336.72,
 913453.025,
 934062.0650000001,
 977956.1250000001,
 952467.9500000001,
 973096.9600000001,
 947969.3250000001,
 972722.14,
 952291.54,
 909777.865,
 934590.59,
 892477.515,
 867830.6,
 889607.885,
 930546.385,
 954320.67,
 916003.28,
 895172.0800000001,
 932486.025,
 953374.645,
 990468.92,
 969838.02,
 934094.485,
 924860.655,
 945509.635,
 908974.915,
 918181.0850000001,
 880564.7450000001,
 871280.8400000001,
 832592.8950000001,
 823319.0050000001,
 861511.6300000001,
 870827.6350000001,
 850116.6150000001,
 888349.18]

In [14]:
table=user.get_account(a_1).history_table

In [15]:
table['cash']=user.get_account(a_1).cash[1::]

In [16]:
table

,datetime,code,price,amount,order_id,trade_id,commission_fee,cash
0,2017-01-03 15:00:00,000002,20.73,1000.0,Order_d1iAK0pk,Trade_1hvUBdwn,31.095,979238.905
1,2017-01-04 15:00:00,000001,9.16,1000.0,Order_EWjxiceG,Trade_9x2Q5KhN,13.740,970065.165
2,2017-01-04 15:00:00,000004,44.70,1000.0,Order_maz58XcG,Trade_7AoOxv38,67.050,925298.115
3,2017-01-05 15:00:00,000002,20.93,1000.0,Order_tV5RvKO3,Trade_4MGJlTKQ,31.395,904336.720
4,2017-01-06 15:00:00,000001,9.13,-1000.0,Order_wUmy3lVr,Trade_dqUNh2R4,13.695,913453.025
5,2017-01-06 15:00:00,000002,20.64,-1000.0,Order_DMBvd0Yj,Trade_RvIH4aOm,30.960,934062.065
6,2017-01-06 15:00:00,000004,43.96,-1000.0,Order_fgjU1dks,Trade_1OGUr8ao,65.940,977956.125
7,2017-01-06 15:00:00,000007,25.45,1000.0,Order_eqMBoDuJ,Trade_3jktOTlK,38.175,952467.950
8,2017-01-09 15:00:00,000002,20.66,-1000.0,Order_aMk8dKbL,Trade_tOHfnd17,30.990,973096.960
9,2017-01-09 15:00:00,000007,25.09,1000.0,Order_kFViUMDg,Trade_wOkTdByc,37.635,947969.325
10,2017-01-10 15:00:00,000007,24.79,-1000.0,Order_Cz90YZiX,Trade_wNKvGOT9,37.185,972722.140
11,2017-01-11 15:00:00,000002,20.40,1000.0,Order_TfXOton6,Trade_fwA24hri,30.600,952291.540
12,2017-01-11 15:00:00,000004,42.45,1000.0,Order_T89RPQHo,Trade_FKmjXV3u,63.675,909777.865
13,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_HRzsAVry,Trade_xsn6ecMB,37.275,934590.590
14,2017-01-12 15:00:00,000004,42.05,1000.0,Order_D0EzLOam,Trade_4xQHNq7c,63.075,892477.515
15,2017-01-12 15:00:00,000007,24.61,1000.0,Order_bBxliOtL,Trade_XVAcq5wH,36.915,867830.600
16,2017-01-13 15:00:00,000002,21.81,-1000.0,Order_igSP0qUM,Trade_pKjBt9of,32.715,889607.885
17,2017-01-13 15:00:00,000004,41.00,-1000.0,Order_a7Gnwd06,Trade_AOBp3MDf,61.500,930546.385
18,2017-01-13 15:00:00,000007,23.81,-1000.0,Order_9Y1uBKJV,Trade_QP3GY0k4,35.715,954320.670
19,2017-01-16 15:00:00,000004,38.26,1000.0,Order_dk2Qt9DT,Trade_Pw0si73R,57.390,916003.280
20,2017-01-17 15:00:00,000002,20.80,1000.0,Order_PKsdI6yb,Trade_Egv73cLe,31.200,895172.080
21,2017-01-17 15:00:00,000004,37.37,-1000.0,Order_a5DgtLGH,Trade_lNQgnXhU,56.055,932486.025
22,2017-01-18 15:00:00,000002,20.92,-1000.0,Order_8RcuCD5J,Trade_A6YrXtGH,31.380,953374.645
23,2017-01-18 15:00:00,000004,37.15,-1000.0,Order_SAV0P4mD,Trade_z0aN2SIB,55.725,990468.920
24,2017-01-19 15:00:00,000002,20.60,1000.0,Order_uo8PNQbn,Trade_l7fAWLBD,30.900,969838.020
25,2017-01-19 15:00:00,000004,35.69,1000.0,Order_SB62IgAP,Trade_BIPuR15L,53.535,934094.485
26,2017-01-20 15:00:00,000001,9.22,1000.0,Order_d5jLO8l9,Trade_FNObUWCS,13.830,924860.655
27,2017-01-20 15:00:00,000002,20.68,-1000.0,Order_StIzDUc7,Trade_ieNJt90m,31.020,945509.635
28,2017-01-20 15:00:00,000004,36.48,1000.0,Order_FAYyxeMD,Trade_Bnxm4iAZ,54.720,908974.915
29,2017-01-23 15:00:00,000001,9.22,-1000.0,Order_geISmvyG,Trade_OtLUxY7I,13.830,918181.085
30,2017-01-23 15:00:00,000004,37.56,1000.0,Order_lWBXf2kn,Trade_msfHwhnM,56.340,880564.745
31,2017-01-24 15:00:00,000001,9.27,1000.0,Order_QJRv10Wd,Trade_ux1Rt4TO,13.905,871280.840
32,2017-01-24 15:00:00,000004,38.63,1000.0,Order_jKmsMxTi,Trade_lTybv6x1,57.945,832592.895
33,2017-01-25 15:00:00,000001,9.26,1000.0,Order_YrW8IoTz,Trade_Gdu0Jxoz,13.890,823319.005
34,2017-01-25 15:00:00,000004,38.25,-1000.0,Order_BwCpvyrc,Trade_1suRi7BL,57.375,861511.630
35,2017-01-26 15:00:00,000001,9.33,-1000.0,Order_Td87x2Bk,Trade_krvc0x4l,13.995,870827.635
36,2017-01-26 15:00:00,000002,20.68,1000.0,Order_Nt9w7yPp,Trade_YMr4PqUC,31.020,850116.615
37,2017-01-26 15:00:00,000004,38.29,-1000.0,Order_CVYFysP0,Trade_5VNwFJHQ,57.435,888349.180

In [17]:
table.drop_duplicates(subset='datetime',keep='last')

,datetime,code,price,amount,order_id,trade_id,commission_fee,cash
0,2017-01-03 15:00:00,000002,20.73,1000.0,Order_d1iAK0pk,Trade_1hvUBdwn,31.095,979238.905
2,2017-01-04 15:00:00,000004,44.70,1000.0,Order_maz58XcG,Trade_7AoOxv38,67.050,925298.115
3,2017-01-05 15:00:00,000002,20.93,1000.0,Order_tV5RvKO3,Trade_4MGJlTKQ,31.395,904336.720
7,2017-01-06 15:00:00,000007,25.45,1000.0,Order_eqMBoDuJ,Trade_3jktOTlK,38.175,952467.950
9,2017-01-09 15:00:00,000007,25.09,1000.0,Order_kFViUMDg,Trade_wOkTdByc,37.635,947969.325
10,2017-01-10 15:00:00,000007,24.79,-1000.0,Order_Cz90YZiX,Trade_wNKvGOT9,37.185,972722.140
13,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_HRzsAVry,Trade_xsn6ecMB,37.275,934590.590
15,2017-01-12 15:00:00,000007,24.61,1000.0,Order_bBxliOtL,Trade_XVAcq5wH,36.915,867830.600
18,2017-01-13 15:00:00,000007,23.81,-1000.0,Order_9Y1uBKJV,Trade_QP3GY0k4,35.715,954320.670
19,2017-01-16 15:00:00,000004,38.26,1000.0,Order_dk2Qt9DT,Trade_Pw0si73R,57.390,916003.280
21,2017-01-17 15:00:00,000004,37.37,-1000.0,Order_a5DgtLGH,Trade_lNQgnXhU,56.055,932486.025
23,2017-01-18 15:00:00,000004,37.15,-1000.0,Order_SAV0P4mD,Trade_z0aN2SIB,55.725,990468.920
25,2017-01-19 15:00:00,000004,35.69,1000.0,Order_SB62IgAP,Trade_BIPuR15L,53.535,934094.485
28,2017-01-20 15:00:00,000004,36.48,1000.0,Order_FAYyxeMD,Trade_Bnxm4iAZ,54.720,908974.915
30,2017-01-23 15:00:00,000004,37.56,1000.0,Order_lWBXf2kn,Trade_msfHwhnM,56.340,880564.745
32,2017-01-24 15:00:00,000004,38.63,1000.0,Order_jKmsMxTi,Trade_lTybv6x1,57.945,832592.895
34,2017-01-25 15:00:00,000004,38.25,-1000.0,Order_BwCpvyrc,Trade_1suRi7BL,57.375,861511.630
37,2017-01-26 15:00:00,000004,38.29,-1000.0,Order_CVYFysP0,Trade_5VNwFJHQ,57.435,888349.180

In [18]:
user.get_account(a_1).cash_table

                       cash             datetime        date
datetime
2017-01-03 15:00:00  979239  2017-01-03 15:00:00  2017-01-03
2017-01-04 15:00:00  970065  2017-01-04 15:00:00  2017-01-04
2017-01-04 15:00:00  925298  2017-01-04 15:00:00  2017-01-04
2017-01-05 15:00:00  904337  2017-01-05 15:00:00  2017-01-05
2017-01-06 15:00:00  913453  2017-01-06 15:00:00  2017-01-06
2017-01-06 15:00:00  934062  2017-01-06 15:00:00  2017-01-06
2017-01-06 15:00:00  977956  2017-01-06 15:00:00  2017-01-06
2017-01-06 15:00:00  952468  2017-01-06 15:00:00  2017-01-06
2017-01-09 15:00:00  973097  2017-01-09 15:00:00  2017-01-09
2017-01-09 15:00:00  947969  2017-01-09 15:00:00  2017-01-09
2017-01-10 15:00:00  972722  2017-01-10 15:00:00  2017-01-10
2017-01-11 15:00:00  952292  2017-01-11 15:00:00  2017-01-11
2017-01-11 15:00:00  909778  2017-01-11 15:00:00  2017-01-11
2017-01-11 15:00:00  934591  2017-01-11 15:00:00  2017-01-11
2017-01-12 15:00:00  892478  2017-01-12 15:00:00  2017-01-12
2017-01-12 15:00:00  867831  2017-01-12 15:00:00  2017-01-12
2017-01-13 15:00:00  889608  2017-01-13 15:00:00  2017-01-13
2017-01-13 15:00:00  930546  2017-01-13 15:00:00  2017-01-13
2017-01-13 15:00:00  954321  2017-01-13 15:00:00  2017-01-13
2017-01-16 15:00:00  916003  2017-01-16 15:00:00  2017-01-16
2017-01-17 15:00:00  895172  2017-01-17 15:00:00  2017-01-17
2017-01-17 15:00:00  932486  2017-01-17 15:00:00  2017-01-17
2017-01-18 15:00:00  953375  2017-01-18 15:00:00  2017-01-18
2017-01-18 15:00:00  990469  2017-01-18 15:00:00  2017-01-18
2017-01-19 15:00:00  969838  2017-01-19 15:00:00  2017-01-19
2017-01-19 15:00:00  934094  2017-01-19 15:00:00  2017-01-19
2017-01-20 15:00:00  924861  2017-01-20 15:00:00  2017-01-20
2017-01-20 15:00:00  945510  2017-01-20 15:00:00  2017-01-20
2017-01-20 15:00:00  908975  2017-01-20 15:00:00  2017-01-20
2017-01-23 15:00:00  918181  2017-01-23 15:00:00  2017-01-23
2017-01-23 15:00:00  880565  2017-01-23 15:00:00  2017-01-23
2017-01-24 15:00:00  871281  2017-01-24 15:00:00  2017-01-24
2017-01-24 15:00:00  832593  2017-01-24 15:00:00  2017-01-24
2017-01-25 15:00:00  823319  2017-01-25 15:00:00  2017-01-25
2017-01-25 15:00:00  861512  2017-01-25 15:00:00  2017-01-25
2017-01-26 15:00:00  870828  2017-01-26 15:00:00  2017-01-26
2017-01-26 15:00:00  850117  2017-01-26 15:00:00  2017-01-26
2017-01-26 15:00:00  888349  2017-01-26 15:00:00  2017-01-26

In [19]:
user.get_account(a_1).daily_cash

                       cash             datetime        date
datetime
2017-01-03 15:00:00  979239  2017-01-03 15:00:00  2017-01-03
2017-01-04 15:00:00  925298  2017-01-04 15:00:00  2017-01-04
2017-01-05 15:00:00  904337  2017-01-05 15:00:00  2017-01-05
2017-01-06 15:00:00  952468  2017-01-06 15:00:00  2017-01-06
2017-01-09 15:00:00  947969  2017-01-09 15:00:00  2017-01-09
2017-01-10 15:00:00  972722  2017-01-10 15:00:00  2017-01-10
2017-01-11 15:00:00  934591  2017-01-11 15:00:00  2017-01-11
2017-01-12 15:00:00  867831  2017-01-12 15:00:00  2017-01-12
2017-01-13 15:00:00  954321  2017-01-13 15:00:00  2017-01-13
2017-01-16 15:00:00  916003  2017-01-16 15:00:00  2017-01-16
2017-01-17 15:00:00  932486  2017-01-17 15:00:00  2017-01-17
2017-01-18 15:00:00  990469  2017-01-18 15:00:00  2017-01-18
2017-01-19 15:00:00  934094  2017-01-19 15:00:00  2017-01-19
2017-01-20 15:00:00  908975  2017-01-20 15:00:00  2017-01-20
2017-01-23 15:00:00  880565  2017-01-23 15:00:00  2017-01-23
2017-01-24 15:00:00  832593  2017-01-24 15:00:00  2017-01-24
2017-01-25 15:00:00  861512  2017-01-25 15:00:00  2017-01-25
2017-01-26 15:00:00  888349  2017-01-26 15:00:00  2017-01-26

In [ ]:
user.get_account(a_1).daily_hold

In [24]:
data=user.get_account(a_1).daily_hold

In [27]:
data.index[0]

'2017-01-03'

In [33]:
market_data=QA.QA_fetch_stock_day_adv(list(data.columns),data.index[0],data.index[-1])

In [44]:
(market_data.to_qfq().pivot('close')*data).sum(axis=1)+user.get_account(a_1).daily_cash.set_index('date').cash

c:\quantaxis\QUANTAXIS\QAData\data_fq.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  bfq_data['if_trade'] = 1

date
2017-01-03         999969
2017-01-04    1.00001e+06
2017-01-05         999807
2017-01-06         998558
2017-01-09         998149
2017-01-10         997512
2017-01-11         997441
2017-01-12         976541
2017-01-13         995321
2017-01-16         992523
2017-01-17         990656
2017-01-18         990469
2017-01-19         990384
2017-01-20         991155
2017-01-23         993245
2017-01-24         996383
2017-01-25         994782
2017-01-26         994939
dtype: object