In [1]:
import QUANTAXIS as QA
import random
market = QA.QA_Market()
user = QA.QA_Portfolio()
# 创建两个account
# 这里是创建一个资产组合,然后在组合里面创建两个account  你可以想象成股票里面的两个策略账户
# 然后返回的是这个账户的id
a_1 = user.new_account()

market.start()
market.connect(QA.RUNNING_ENVIRONMENT.BACKETEST)

# 打印market
print(market)


"""
登陆到这个交易前置上 把你刚才的两个账户
"""
# 登陆交易
market.login(QA.BROKER_TYPE.BACKETEST, a_1, user.get_account(a_1))




for date in QA.QA_util_get_trade_range('2017-01-01','2017-01-31'):
    for code in ['000001', '000002', '000004', '000007']:
        if random.random()<0.3:
            market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.BUY, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
        else:
            try:
                print(user.get_account(a_1).sell_available.get(code,0))
                market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
            except:
                pass
    market._settle(QA.BROKER_TYPE.BACKETEST)
        
while True:
    if market.clear():
        break
print(user.get_account(a_1).history)
print(user.get_account(a_1).cash)
print(user.get_account(a_1).cash_available)
print(user.get_account(a_1).history_table)
print(user.get_account(a_1).hold)

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX
QUANTAXIS>> === The BEST SERVER ===
 stock_ip 218.108.47.69 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is remake-version
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

< QA_MARKET with ['backtest'] Broker >
===== SETTLED None =====< QA_Order datetime:2017-01-03 09:31:00 code:000007 price:26.1 towards:1 btype:0x01 order_id:Order_2tVkfJjF account:Acc_qSHfe6TY status:300 >

===== SETTLED None =====
===== SETTLED None =====< QA_Order datetime:2017-01-04 09:31:00 code:000004 price:44.7 towards:1 btype:0x01 order_id:Order_vl5Mo2Ux account:Acc_qSHfe6TY status:300 >

0< QA_Order datetime:2017-01-05 09:31:00 code:000007 price:26.24 towards:1 btype:0x01 order_id:Order_5AFE6KS7 account:Acc_qSHfe6TY status:300 >

0
1000.0
2000.0< QA_Order datetime:2017-01-06 09:31:00 code:000004 price:43.96 towards:-1 btype:0x01 order_id:Order_y3QnYzTr account:Acc_qSHfe6TY status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-06 09:31:00 code:000007 price:25.45 towards:-1 btype:0x01 order_id:Order_ISdo3UbL account:Acc_qSHfe6TY status:300 >0

< QA_Order datetime:2017-01-09 09:31:00 code:000002 price:20.66 towards:1 btype:0x01 order_id:Order_H6oCg2qX account:Acc_qSHfe6TY status:300 >===== SETTLED None =====

0< QA_Order datetime:2017-01-09 09:31:00 code:000004 price:43.01 towards:1 btype:0x01 order_id:Order_YhmuRcav account:Acc_qSHfe6TY status:300 >

0
< QA_Order datetime:2017-01-09 09:31:00 code:000007 price:25.09 towards:1 btype:0x01 order_id:Order_C3JDht0a account:Acc_qSHfe6TY status:300 >
===== SETTLED None =====
< QA_Order datetime:2017-01-10 09:31:00 code:000004 price:43.25 towards:1 btype:0x01 order_id:Order_wTqiVhu2 account:Acc_qSHfe6TY status:300 >0

< QA_Order datetime:2017-01-10 09:31:00 code:000007 price:24.79 towards:1 btype:0x01 order_id:Order_0EVG9sjx account:Acc_qSHfe6TY status:300 >1000.0

2000.0< QA_Order datetime:2017-01-11 09:31:00 code:000002 price:20.4 towards:-1 btype:0x01 order_id:Order_8iSfwZOy account:Acc_qSHfe6TY status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-11 09:31:00 code:000004 price:42.45 towards:1 btype:0x01 order_id:Order_Ddk9gj24 account:Acc_qSHfe6TY status:300 >
1000.0
< QA_Order datetime:2017-01-11 09:31:00 code:000007 price:24.85 towards:-1 btype:0x01 order_id:Order_1ITxv69k account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000002 date 2017-01-12 price None order_model close amount_model by_amount

< QA_Order datetime:2017-01-12 09:31:00 code:000001 price:9.15 towards:1 btype:0x01 order_id:Order_wKDxSc5i account:Acc_qSHfe6TY status:300 >

3000.0
2000.0
< QA_Order datetime:2017-01-12 09:31:00 code:000004 price:42.05 towards:-1 btype:0x01 order_id:Order_xgNX4WcB account:Acc_qSHfe6TY status:300 >===== SETTLED None =====

0.0
< QA_Order datetime:2017-01-12 09:31:00 code:000007 price:24.61 towards:-1 btype:0x01 order_id:Order_3YbO6Vr2 account:Acc_qSHfe6TY status:300 >
2000.0
< QA_Order datetime:2017-01-13 09:31:00 code:000001 price:9.16 towards:1 btype:0x01 order_id:Order_6OAcl0S1 account:Acc_qSHfe6TY status:300 >1000.0

===== SETTLED None =====< QA_Order datetime:2017-01-13 09:31:00 code:000004 price:41.0 towards:-1 btype:0x01 order_id:Order_tS3v2a1p account:Acc_qSHfe6TY status:300 >

1000.0
< QA_Order datetime:2017-01-13 09:31:00 code:000007 price:23.81 towards:-1 btype:0x01 order_id:Order_bE8it31R account:Acc_qSHfe6TY status:300 >
0.0
< QA_Order datetime:2017-01-16 09:31:00 code:000001 price:9.14 towards:-1 btype:0x01 order_id:Order_w7vj6TpE account:Acc_qSHfe6TY status:300 >
1000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-16 09:31:00 code:000004 price:38.26 towards:-1 btype:0x01 order_id:Order_D0mTdQAG account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> code 000007 date 2017-01-16 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0
0.0< QA_Order datetime:2017-01-17 09:31:00 code:000001 price:9.15 towards:-1 btype:0x01 order_id:Order_An5JlhSM account:Acc_qSHfe6TY status:300 >

0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-17 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-18 09:31:00 code:000002 price:20.92 towards:1 btype:0x01 order_id:Order_kNwFmM6E account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> code 000007 date 2017-01-18 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0< QA_Order datetime:2017-01-18 09:31:00 code:000004 price:37.15 towards:1 btype:0x01 order_id:Order_gm8nPScu account:Acc_qSHfe6TY status:300 >

0.0
0.0
< QA_Order datetime:2017-01-19 09:31:00 code:000002 price:20.6 towards:1 btype:0x01 order_id:Order_O9Ivel2f account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-19 09:31:00 code:000004 price:35.69 towards:-1 btype:0x01 order_id:Order_M1N9obPc account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> code 000007 date 2017-01-19 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
< QA_Order datetime:2017-01-20 09:31:00 code:000002 price:20.68 towards:1 btype:0x01 order_id:Order_57yEwGX9 account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-20 09:31:00 code:000004 price:36.48 towards:1 btype:0x01 order_id:Order_S3pJ1V9b account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> code 000007 date 2017-01-20 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0
< QA_Order datetime:2017-01-23 09:31:00 code:000002 price:20.74 towards:1 btype:0x01 order_id:Order_u42HyrTJ account:Acc_qSHfe6TY status:300 >
0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-23 09:31:00 code:000004 price:37.56 towards:-1 btype:0x01 order_id:Order_1Is3VB4Y account:Acc_qSHfe6TY status:300 >

QUANTAXIS>> code 000007 date 2017-01-23 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0< QA_Order datetime:2017-01-24 09:31:00 code:000002 price:20.69 towards:1 btype:0x01 order_id:Order_0JmyFaO7 account:Acc_qSHfe6TY status:300 >

0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-24 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
5000.0
0.0
< QA_Order datetime:2017-01-25 09:31:00 code:000002 price:20.61 towards:-1 btype:0x01 order_id:Order_hvy13wEG account:Acc_qSHfe6TY status:300 >0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-25 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
4000.0
0.0< QA_Order datetime:2017-01-26 09:31:00 code:000002 price:20.68 towards:-1 btype:0x01 order_id:Order_Upx1Y3X0 account:Acc_qSHfe6TY status:300 >

0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-26 price None order_model close amount_model by_amount

===== SETTLED None =====
[['2017-01-03 15:00:00', '000007', 26.1, 1000.0, 'Order_2tVkfJjF', 'Trade_JjnF5qfL', 39.150000000000006], ['2017-01-04 15:00:00', '000004', 44.7, 1000.0, 'Order_vl5Mo2Ux', 'Trade_gOyeTFsm', 67.05000000000001], ['2017-01-05 15:00:00', '000007', 26.24, 1000.0, 'Order_5AFE6KS7', 'Trade_YmPbeov0', 39.36], ['2017-01-06 15:00:00', '000004', 43.96, -1000.0, 'Order_y3QnYzTr', 'Trade_Kg2zAoik', 65.94], ['2017-01-06 15:00:00', '000007', 25.45, -1000.0, 'Order_ISdo3UbL', 'Trade_bupGknOi', 38.175], ['2017-01-09 15:00:00', '000002', 20.66, 1000.0, 'Order_H6oCg2qX', 'Trade_dJimIZnj', 30.99], ['2017-01-09 15:00:00', '000004', 43.01, 1000.0, 'Order_YhmuRcav', 'Trade_WHVzskXm', 64.515], ['2017-01-09 15:00:00', '000007', 25.09, 1000.0, 'Order_C3JDht0a', 'Trade_0NXI7oEU', 37.635000000000005], ['2017-01-10 15:00:00', '000004', 43.25, 1000.0, 'Order_wTqiVhu2', 'Trade_6iFWwMvc', 64.875], ['2017-01-10 15:00:00', '000007', 24.79, 1000.0, 'Order_0EVG9sjx', 'Trade_03WjDLfb', 37.185], ['2017-01-11 15:00:00', '000002', 20.4, -1000.0, 'Order_8iSfwZOy', 'Trade_PUwKWsVk', 30.599999999999998], ['2017-01-11 15:00:00', '000004', 42.45, 1000.0, 'Order_Ddk9gj24', 'Trade_lJzbEeyc', 63.67500000000001], ['2017-01-11 15:00:00', '000007', 24.85, -1000.0, 'Order_1ITxv69k', 'Trade_yQZWleKP', 37.275000000000006], ['2017-01-12 15:00:00', '000001', 9.15, 1000.0, 'Order_wKDxSc5i', 'Trade_OBcXUxyw', 13.725000000000001], ['2017-01-12 15:00:00', '000004', 42.05, -1000.0, 'Order_xgNX4WcB', 'Trade_m3eWp89M', 63.07499999999999], ['2017-01-12 15:00:00', '000007', 24.61, -1000.0, 'Order_3YbO6Vr2', 'Trade_vzH1t5KV', 36.915000000000006], ['2017-01-13 15:00:00', '000001', 9.16, 1000.0, 'Order_6OAcl0S1', 'Trade_YXCMx3DU', 13.74], ['2017-01-13 15:00:00', '000004', 41.0, -1000.0, 'Order_tS3v2a1p', 'Trade_RoLzdY3H', 61.5], ['2017-01-13 15:00:00', '000007', 23.81, -1000.0, 'Order_bE8it31R', 'Trade_XQeHW8gx', 35.714999999999996], ['2017-01-16 15:00:00', '000001', 9.14, -1000.0, 'Order_w7vj6TpE', 'Trade_q9xcP4ib', 13.71], ['2017-01-16 15:00:00', '000004', 38.26, -1000.0, 'Order_D0mTdQAG', 'Trade_dLv8I3Gz', 57.38999999999999], ['2017-01-17 15:00:00', '000001', 9.15, -1000.0, 'Order_An5JlhSM', 'Trade_OaAegI9N', 13.725000000000001], ['2017-01-18 15:00:00', '000002', 20.92, 1000.0, 'Order_kNwFmM6E', 'Trade_Sn91546w', 31.380000000000006], ['2017-01-18 15:00:00', '000004', 37.15, 1000.0, 'Order_gm8nPScu', 'Trade_boB4SOCD', 55.724999999999994], ['2017-01-19 15:00:00', '000002', 20.6, 1000.0, 'Order_O9Ivel2f', 'Trade_eINp5B8R', 30.900000000000002], ['2017-01-19 15:00:00', '000004', 35.69, -1000.0, 'Order_M1N9obPc', 'Trade_niodvUsO', 53.535], ['2017-01-20 15:00:00', '000002', 20.68, 1000.0, 'Order_57yEwGX9', 'Trade_rld9T4gH', 31.02], ['2017-01-20 15:00:00', '000004', 36.48, 1000.0, 'Order_S3pJ1V9b', 'Trade_1lFafHc6', 54.72], ['2017-01-23 15:00:00', '000002', 20.74, 1000.0, 'Order_u42HyrTJ', 'Trade_LOUvTRKz', 31.11], ['2017-01-23 15:00:00', '000004', 37.56, -1000.0, 'Order_1Is3VB4Y', 'Trade_aWg1PyoL', 56.34], ['2017-01-24 15:00:00', '000002', 20.69, 1000.0, 'Order_0JmyFaO7', 'Trade_LMBWo7vF', 31.035000000000004], ['2017-01-25 15:00:00', '000002', 20.61, -1000.0, 'Order_hvy13wEG', 'Trade_NlmFwv5a', 30.915000000000003], ['2017-01-26 15:00:00', '000002', 20.68, -1000.0, 'Order_Upx1Y3X0', 'Trade_SY3ueVLs', 31.02]]
[1000000, 973860.85, 929093.7999999999, 902814.44, 946708.5, 972120.325, 951429.335, 908354.82, 883227.1849999999, 839912.3099999999, 815085.1249999999, 835454.5249999999, 792940.8499999999, 817753.5749999998, 808589.8499999999, 850576.7749999999, 875149.8599999999, 865976.1199999999, 906914.6199999999, 930688.9049999999, 939815.195, 978017.8049999999, 987154.08, 966202.7, 928996.975, 908366.075, 944002.5399999999, 923291.5199999999, 886756.7999999999, 865985.69, 903489.35, 882768.315, 903347.3999999999, 923996.3799999999]
923996.3799999999
               datetime    code  price  amount        order_id  \
0   2017-01-03 15:00:00  000007  26.10  1000.0  Order_2tVkfJjF
1   2017-01-04 15:00:00  000004  44.70  1000.0  Order_vl5Mo2Ux
2   2017-01-05 15:00:00  000007  26.24  1000.0  Order_5AFE6KS7
3   2017-01-06 15:00:00  000004  43.96 -1000.0  Order_y3QnYzTr
4   2017-01-06 15:00:00  000007  25.45 -1000.0  Order_ISdo3UbL
5   2017-01-09 15:00:00  000002  20.66  1000.0  Order_H6oCg2qX
6   2017-01-09 15:00:00  000004  43.01  1000.0  Order_YhmuRcav
7   2017-01-09 15:00:00  000007  25.09  1000.0  Order_C3JDht0a
8   2017-01-10 15:00:00  000004  43.25  1000.0  Order_wTqiVhu2
9   2017-01-10 15:00:00  000007  24.79  1000.0  Order_0EVG9sjx
10  2017-01-11 15:00:00  000002  20.40 -1000.0  Order_8iSfwZOy
11  2017-01-11 15:00:00  000004  42.45  1000.0  Order_Ddk9gj24
12  2017-01-11 15:00:00  000007  24.85 -1000.0  Order_1ITxv69k
13  2017-01-12 15:00:00  000001   9.15  1000.0  Order_wKDxSc5i
14  2017-01-12 15:00:00  000004  42.05 -1000.0  Order_xgNX4WcB
15  2017-01-12 15:00:00  000007  24.61 -1000.0  Order_3YbO6Vr2
16  2017-01-13 15:00:00  000001   9.16  1000.0  Order_6OAcl0S1
17  2017-01-13 15:00:00  000004  41.00 -1000.0  Order_tS3v2a1p
18  2017-01-13 15:00:00  000007  23.81 -1000.0  Order_bE8it31R
19  2017-01-16 15:00:00  000001   9.14 -1000.0  Order_w7vj6TpE
20  2017-01-16 15:00:00  000004  38.26 -1000.0  Order_D0mTdQAG
21  2017-01-17 15:00:00  000001   9.15 -1000.0  Order_An5JlhSM
22  2017-01-18 15:00:00  000002  20.92  1000.0  Order_kNwFmM6E
23  2017-01-18 15:00:00  000004  37.15  1000.0  Order_gm8nPScu
24  2017-01-19 15:00:00  000002  20.60  1000.0  Order_O9Ivel2f
25  2017-01-19 15:00:00  000004  35.69 -1000.0  Order_M1N9obPc
26  2017-01-20 15:00:00  000002  20.68  1000.0  Order_57yEwGX9
27  2017-01-20 15:00:00  000004  36.48  1000.0  Order_S3pJ1V9b
28  2017-01-23 15:00:00  000002  20.74  1000.0  Order_u42HyrTJ
29  2017-01-23 15:00:00  000004  37.56 -1000.0  Order_1Is3VB4Y
30  2017-01-24 15:00:00  000002  20.69  1000.0  Order_0JmyFaO7
31  2017-01-25 15:00:00  000002  20.61 -1000.0  Order_hvy13wEG
32  2017-01-26 15:00:00  000002  20.68 -1000.0  Order_Upx1Y3X0

          trade_id  commission_fee
0   Trade_JjnF5qfL          39.150
1   Trade_gOyeTFsm          67.050
2   Trade_YmPbeov0          39.360
3   Trade_Kg2zAoik          65.940
4   Trade_bupGknOi          38.175
5   Trade_dJimIZnj          30.990
6   Trade_WHVzskXm          64.515
7   Trade_0NXI7oEU          37.635
8   Trade_6iFWwMvc          64.875
9   Trade_03WjDLfb          37.185
10  Trade_PUwKWsVk          30.600
11  Trade_lJzbEeyc          63.675
12  Trade_yQZWleKP          37.275
13  Trade_OBcXUxyw          13.725
14  Trade_m3eWp89M          63.075
15  Trade_vzH1t5KV          36.915
16  Trade_YXCMx3DU          13.740
17  Trade_RoLzdY3H          61.500
18  Trade_XQeHW8gx          35.715
19  Trade_q9xcP4ib          13.710
20  Trade_dLv8I3Gz          57.390
21  Trade_OaAegI9N          13.725
22  Trade_Sn91546w          31.380
23  Trade_boB4SOCD          55.725
24  Trade_eINp5B8R          30.900
25  Trade_niodvUsO          53.535
26  Trade_rld9T4gH          31.020
27  Trade_1lFafHc6          54.720
28  Trade_LOUvTRKz          31.110
29  Trade_aWg1PyoL          56.340
30  Trade_LMBWo7vF          31.035
31  Trade_NlmFwv5a          30.915
32  Trade_SY3ueVLs          31.020
code
000001       0.0
000002    3000.0
000004       0.0
000007       0.0
Name: amount, dtype: float64

In [2]:
user.get_account(a_1).history_table

,datetime,code,price,amount,order_id,trade_id,commission_fee
0,2017-01-03 15:00:00,000007,26.10,1000.0,Order_2tVkfJjF,Trade_JjnF5qfL,39.150
1,2017-01-04 15:00:00,000004,44.70,1000.0,Order_vl5Mo2Ux,Trade_gOyeTFsm,67.050
2,2017-01-05 15:00:00,000007,26.24,1000.0,Order_5AFE6KS7,Trade_YmPbeov0,39.360
3,2017-01-06 15:00:00,000004,43.96,-1000.0,Order_y3QnYzTr,Trade_Kg2zAoik,65.940
4,2017-01-06 15:00:00,000007,25.45,-1000.0,Order_ISdo3UbL,Trade_bupGknOi,38.175
5,2017-01-09 15:00:00,000002,20.66,1000.0,Order_H6oCg2qX,Trade_dJimIZnj,30.990
6,2017-01-09 15:00:00,000004,43.01,1000.0,Order_YhmuRcav,Trade_WHVzskXm,64.515
7,2017-01-09 15:00:00,000007,25.09,1000.0,Order_C3JDht0a,Trade_0NXI7oEU,37.635
8,2017-01-10 15:00:00,000004,43.25,1000.0,Order_wTqiVhu2,Trade_6iFWwMvc,64.875
9,2017-01-10 15:00:00,000007,24.79,1000.0,Order_0EVG9sjx,Trade_03WjDLfb,37.185
10,2017-01-11 15:00:00,000002,20.40,-1000.0,Order_8iSfwZOy,Trade_PUwKWsVk,30.600
11,2017-01-11 15:00:00,000004,42.45,1000.0,Order_Ddk9gj24,Trade_lJzbEeyc,63.675
12,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_1ITxv69k,Trade_yQZWleKP,37.275
13,2017-01-12 15:00:00,000001,9.15,1000.0,Order_wKDxSc5i,Trade_OBcXUxyw,13.725
14,2017-01-12 15:00:00,000004,42.05,-1000.0,Order_xgNX4WcB,Trade_m3eWp89M,63.075
15,2017-01-12 15:00:00,000007,24.61,-1000.0,Order_3YbO6Vr2,Trade_vzH1t5KV,36.915
16,2017-01-13 15:00:00,000001,9.16,1000.0,Order_6OAcl0S1,Trade_YXCMx3DU,13.740
17,2017-01-13 15:00:00,000004,41.00,-1000.0,Order_tS3v2a1p,Trade_RoLzdY3H,61.500
18,2017-01-13 15:00:00,000007,23.81,-1000.0,Order_bE8it31R,Trade_XQeHW8gx,35.715
19,2017-01-16 15:00:00,000001,9.14,-1000.0,Order_w7vj6TpE,Trade_q9xcP4ib,13.710
20,2017-01-16 15:00:00,000004,38.26,-1000.0,Order_D0mTdQAG,Trade_dLv8I3Gz,57.390
21,2017-01-17 15:00:00,000001,9.15,-1000.0,Order_An5JlhSM,Trade_OaAegI9N,13.725
22,2017-01-18 15:00:00,000002,20.92,1000.0,Order_kNwFmM6E,Trade_Sn91546w,31.380
23,2017-01-18 15:00:00,000004,37.15,1000.0,Order_gm8nPScu,Trade_boB4SOCD,55.725
24,2017-01-19 15:00:00,000002,20.60,1000.0,Order_O9Ivel2f,Trade_eINp5B8R,30.900
25,2017-01-19 15:00:00,000004,35.69,-1000.0,Order_M1N9obPc,Trade_niodvUsO,53.535
26,2017-01-20 15:00:00,000002,20.68,1000.0,Order_57yEwGX9,Trade_rld9T4gH,31.020
27,2017-01-20 15:00:00,000004,36.48,1000.0,Order_S3pJ1V9b,Trade_1lFafHc6,54.720
28,2017-01-23 15:00:00,000002,20.74,1000.0,Order_u42HyrTJ,Trade_LOUvTRKz,31.110
29,2017-01-23 15:00:00,000004,37.56,-1000.0,Order_1Is3VB4Y,Trade_aWg1PyoL,56.340
30,2017-01-24 15:00:00,000002,20.69,1000.0,Order_0JmyFaO7,Trade_LMBWo7vF,31.035
31,2017-01-25 15:00:00,000002,20.61,-1000.0,Order_hvy13wEG,Trade_NlmFwv5a,30.915
32,2017-01-26 15:00:00,000002,20.68,-1000.0,Order_Upx1Y3X0,Trade_SY3ueVLs,31.020

In [3]:
r=QA.QA_Risk(user.get_account(a_1))

In [4]:
user.get_account(a_1).hold

code
000001       0.0
000002    3000.0
000004       0.0
000007       0.0
Name: amount, dtype: float64

In [5]:
user.get_account(a_1).trade

code                 000001  000002  000004  000007
datetime
2017-01-03 15:00:00     0.0     0.0     0.0  1000.0
2017-01-04 15:00:00     0.0     0.0  1000.0     0.0
2017-01-05 15:00:00     0.0     0.0     0.0  1000.0
2017-01-06 15:00:00     0.0     0.0 -1000.0 -1000.0
2017-01-09 15:00:00     0.0  1000.0  1000.0  1000.0
2017-01-10 15:00:00     0.0     0.0  1000.0  1000.0
2017-01-11 15:00:00     0.0 -1000.0  1000.0 -1000.0
2017-01-12 15:00:00  1000.0     0.0 -1000.0 -1000.0
2017-01-13 15:00:00  1000.0     0.0 -1000.0 -1000.0
2017-01-16 15:00:00 -1000.0     0.0 -1000.0     0.0
2017-01-17 15:00:00 -1000.0     0.0     0.0     0.0
2017-01-18 15:00:00     0.0  1000.0  1000.0     0.0
2017-01-19 15:00:00     0.0  1000.0 -1000.0     0.0
2017-01-20 15:00:00     0.0  1000.0  1000.0     0.0
2017-01-23 15:00:00     0.0  1000.0 -1000.0     0.0
2017-01-24 15:00:00     0.0  1000.0     0.0     0.0
2017-01-25 15:00:00     0.0 -1000.0     0.0     0.0
2017-01-26 15:00:00     0.0 -1000.0     0.0     0.0

In [6]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0     0.0     0.0  1000.0
2017-01-04     0.0     0.0  1000.0  1000.0
2017-01-05     0.0     0.0  1000.0  2000.0
2017-01-06     0.0     0.0     0.0  1000.0
2017-01-09     0.0  1000.0  1000.0  2000.0
2017-01-10     0.0  1000.0  2000.0  3000.0
2017-01-11     0.0     0.0  3000.0  2000.0
2017-01-12  1000.0     0.0  2000.0  1000.0
2017-01-13  2000.0     0.0  1000.0     0.0
2017-01-16  1000.0     0.0     0.0     0.0
2017-01-17     0.0     0.0     0.0     0.0
2017-01-18     0.0  1000.0  1000.0     0.0
2017-01-19     0.0  2000.0     0.0     0.0
2017-01-20     0.0  3000.0  1000.0     0.0
2017-01-23     0.0  4000.0     0.0     0.0
2017-01-24     0.0  5000.0     0.0     0.0
2017-01-25     0.0  4000.0     0.0     0.0
2017-01-26     0.0  3000.0     0.0     0.0

In [7]:
market.insert_order(account_id=a_1, amount=2000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time='2017-01-26', code='000001',
                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_DAY,
                    data_type=QA.MARKETDATA_TYPE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)

In [8]:
    market._settle(QA.BROKER_TYPE.BACKETEST)

===== SETTLED None =====

In [9]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0     0.0     0.0  1000.0
2017-01-04     0.0     0.0  1000.0  1000.0
2017-01-05     0.0     0.0  1000.0  2000.0
2017-01-06     0.0     0.0     0.0  1000.0
2017-01-09     0.0  1000.0  1000.0  2000.0
2017-01-10     0.0  1000.0  2000.0  3000.0
2017-01-11     0.0     0.0  3000.0  2000.0
2017-01-12  1000.0     0.0  2000.0  1000.0
2017-01-13  2000.0     0.0  1000.0     0.0
2017-01-16  1000.0     0.0     0.0     0.0
2017-01-17     0.0     0.0     0.0     0.0
2017-01-18     0.0  1000.0  1000.0     0.0
2017-01-19     0.0  2000.0     0.0     0.0
2017-01-20     0.0  3000.0  1000.0     0.0
2017-01-23     0.0  4000.0     0.0     0.0
2017-01-24     0.0  5000.0     0.0     0.0
2017-01-25     0.0  4000.0     0.0     0.0
2017-01-26     0.0  3000.0     0.0     0.0

In [14]:
data=QA.QA_fetch_stock_day_adv(['000001','000002','000004','000007'],'2017-01-03','2017-01-26')

In [19]:
md=data.pivot('close')
md

code        000001  000002  000004  000007
date
2017-01-03    9.16   20.73   44.45   26.10
2017-01-04    9.16   20.85   44.70   26.47
2017-01-05    9.17   20.93   44.44   26.24
2017-01-06    9.13   20.64   43.96   25.45
2017-01-09    9.15   20.66   43.01   25.09
2017-01-10    9.15   20.58   43.25   24.79
2017-01-11    9.14   20.40   42.45   24.85
2017-01-12    9.15     NaN   42.05   24.61
2017-01-13    9.16   21.81   41.00   23.81
2017-01-16    9.14   21.00   38.26     NaN
2017-01-17    9.15   20.80   37.37     NaN
2017-01-18    9.17   20.92   37.15     NaN
2017-01-19    9.18   20.60   35.69     NaN
2017-01-20    9.22   20.68   36.48     NaN
2017-01-23    9.22   20.74   37.56     NaN
2017-01-24    9.27   20.69   38.63     NaN
2017-01-25    9.26   20.61   38.25     NaN
2017-01-26    9.33   20.68   38.29     NaN

In [22]:
(user.get_account(a_1).daily_hold*md).sum(axis=1)

date
2017-01-03     26100.0
2017-01-04     71170.0
2017-01-05     96920.0
2017-01-06     25450.0
2017-01-09    113850.0
2017-01-10    181450.0
2017-01-11    177050.0
2017-01-12    117860.0
2017-01-13     59320.0
2017-01-16      9140.0
2017-01-17         0.0
2017-01-18     58070.0
2017-01-19     41200.0
2017-01-20     98520.0
2017-01-23     82960.0
2017-01-24    103450.0
2017-01-25     82440.0
2017-01-26     62040.0
dtype: float64

In [26]:
user.get_account(a_1).cash[1::]

[973860.85,
 929093.7999999999,
 902814.44,
 946708.5,
 972120.325,
 951429.335,
 908354.82,
 883227.1849999999,
 839912.3099999999,
 815085.1249999999,
 835454.5249999999,
 792940.8499999999,
 817753.5749999998,
 808589.8499999999,
 850576.7749999999,
 875149.8599999999,
 865976.1199999999,
 906914.6199999999,
 930688.9049999999,
 939815.195,
 978017.8049999999,
 987154.08,
 966202.7,
 928996.975,
 908366.075,
 944002.5399999999,
 923291.5199999999,
 886756.7999999999,
 865985.69,
 903489.35,
 882768.315,
 903347.3999999999,
 923996.3799999999]

In [30]:
user.get_account(a_1).history_table['cash']

In [33]:
table=user.get_account(a_1).history_table

In [35]:
table['cash']=user.get_account(a_1).cash[1::]

In [36]:
table

,datetime,code,price,amount,order_id,trade_id,commission_fee,cash
0,2017-01-03 15:00:00,000007,26.10,1000.0,Order_2tVkfJjF,Trade_JjnF5qfL,39.150,973860.850
1,2017-01-04 15:00:00,000004,44.70,1000.0,Order_vl5Mo2Ux,Trade_gOyeTFsm,67.050,929093.800
2,2017-01-05 15:00:00,000007,26.24,1000.0,Order_5AFE6KS7,Trade_YmPbeov0,39.360,902814.440
3,2017-01-06 15:00:00,000004,43.96,-1000.0,Order_y3QnYzTr,Trade_Kg2zAoik,65.940,946708.500
4,2017-01-06 15:00:00,000007,25.45,-1000.0,Order_ISdo3UbL,Trade_bupGknOi,38.175,972120.325
5,2017-01-09 15:00:00,000002,20.66,1000.0,Order_H6oCg2qX,Trade_dJimIZnj,30.990,951429.335
6,2017-01-09 15:00:00,000004,43.01,1000.0,Order_YhmuRcav,Trade_WHVzskXm,64.515,908354.820
7,2017-01-09 15:00:00,000007,25.09,1000.0,Order_C3JDht0a,Trade_0NXI7oEU,37.635,883227.185
8,2017-01-10 15:00:00,000004,43.25,1000.0,Order_wTqiVhu2,Trade_6iFWwMvc,64.875,839912.310
9,2017-01-10 15:00:00,000007,24.79,1000.0,Order_0EVG9sjx,Trade_03WjDLfb,37.185,815085.125
10,2017-01-11 15:00:00,000002,20.40,-1000.0,Order_8iSfwZOy,Trade_PUwKWsVk,30.600,835454.525
11,2017-01-11 15:00:00,000004,42.45,1000.0,Order_Ddk9gj24,Trade_lJzbEeyc,63.675,792940.850
12,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_1ITxv69k,Trade_yQZWleKP,37.275,817753.575
13,2017-01-12 15:00:00,000001,9.15,1000.0,Order_wKDxSc5i,Trade_OBcXUxyw,13.725,808589.850
14,2017-01-12 15:00:00,000004,42.05,-1000.0,Order_xgNX4WcB,Trade_m3eWp89M,63.075,850576.775
15,2017-01-12 15:00:00,000007,24.61,-1000.0,Order_3YbO6Vr2,Trade_vzH1t5KV,36.915,875149.860
16,2017-01-13 15:00:00,000001,9.16,1000.0,Order_6OAcl0S1,Trade_YXCMx3DU,13.740,865976.120
17,2017-01-13 15:00:00,000004,41.00,-1000.0,Order_tS3v2a1p,Trade_RoLzdY3H,61.500,906914.620
18,2017-01-13 15:00:00,000007,23.81,-1000.0,Order_bE8it31R,Trade_XQeHW8gx,35.715,930688.905
19,2017-01-16 15:00:00,000001,9.14,-1000.0,Order_w7vj6TpE,Trade_q9xcP4ib,13.710,939815.195
20,2017-01-16 15:00:00,000004,38.26,-1000.0,Order_D0mTdQAG,Trade_dLv8I3Gz,57.390,978017.805
21,2017-01-17 15:00:00,000001,9.15,-1000.0,Order_An5JlhSM,Trade_OaAegI9N,13.725,987154.080
22,2017-01-18 15:00:00,000002,20.92,1000.0,Order_kNwFmM6E,Trade_Sn91546w,31.380,966202.700
23,2017-01-18 15:00:00,000004,37.15,1000.0,Order_gm8nPScu,Trade_boB4SOCD,55.725,928996.975
24,2017-01-19 15:00:00,000002,20.60,1000.0,Order_O9Ivel2f,Trade_eINp5B8R,30.900,908366.075
25,2017-01-19 15:00:00,000004,35.69,-1000.0,Order_M1N9obPc,Trade_niodvUsO,53.535,944002.540
26,2017-01-20 15:00:00,000002,20.68,1000.0,Order_57yEwGX9,Trade_rld9T4gH,31.020,923291.520
27,2017-01-20 15:00:00,000004,36.48,1000.0,Order_S3pJ1V9b,Trade_1lFafHc6,54.720,886756.800
28,2017-01-23 15:00:00,000002,20.74,1000.0,Order_u42HyrTJ,Trade_LOUvTRKz,31.110,865985.690
29,2017-01-23 15:00:00,000004,37.56,-1000.0,Order_1Is3VB4Y,Trade_aWg1PyoL,56.340,903489.350
30,2017-01-24 15:00:00,000002,20.69,1000.0,Order_0JmyFaO7,Trade_LMBWo7vF,31.035,882768.315
31,2017-01-25 15:00:00,000002,20.61,-1000.0,Order_hvy13wEG,Trade_NlmFwv5a,30.915,903347.400
32,2017-01-26 15:00:00,000002,20.68,-1000.0,Order_Upx1Y3X0,Trade_SY3ueVLs,31.020,923996.380