In [1]:
import QUANTAXIS as QA
import random
market = QA.QA_Market()
user = QA.QA_Portfolio()
# 创建两个account
# 这里是创建一个资产组合,然后在组合里面创建两个account  你可以想象成股票里面的两个策略账户
# 然后返回的是这个账户的id
a_1 = user.new_account()

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX
QUANTAXIS>> === The BEST SERVER ===
 stock_ip 115.238.90.165 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.0.0
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [2]:
a_1

< QA_Account Acc_8F7p4obr>

In [3]:
market.start()
market.connect(QA.RUNNING_ENVIRONMENT.BACKETEST)

# 打印market
print(market)


"""
登陆到这个交易前置上 把你刚才的两个账户
"""
# 登陆交易
market.login(QA.BROKER_TYPE.BACKETEST, a_1.account_cookie, a_1)




for date in QA.QA_util_get_trade_range('2017-01-01','2017-01-31'):
    for code in ['000001', '000002', '000004', '000007']:
        if random.random()<0.3:
            market.insert_order(account_id=a_1.account_cookie, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.BUY, market_type=QA.MARKET_TYPE.STOCK_CN,
                                frequence=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
        else:
            try:
                print(user.get_account(a_1.account_cookie).sell_available.get(code,0))
                market.insert_order(account_id=a_1.account_cookie, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_CN,
                                    frequence=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
            except:
                pass
    
    market._settle(QA.BROKER_TYPE.BACKETEST)
        

print(a_1.history)
print(a_1.cash)
print(a_1.cash_available)
print(a_1.history_table)
print(a_1.hold)

< QA_MARKET with ['backtest'] Broker >
< QA_Order datetime:2017-01-03 09:31:00 code:000002 price:20.73 towards:1 btype:stock_cn order_id:Order_3UoQRbN8 account:Acc_8F7p4obr status:300 >===== SETTLED None =====

< QA_Order datetime:2017-01-03 09:31:00 code:000004 price:44.45 towards:1 btype:stock_cn order_id:Order_NentjEQW account:Acc_8F7p4obr status:300 >
===== SETTLED None =====
< QA_Order datetime:2017-01-04 09:31:00 code:000004 price:44.7 towards:1 btype:stock_cn order_id:Order_vE42zn5f account:Acc_8F7p4obr status:300 >0

1000.0< QA_Order datetime:2017-01-04 09:31:00 code:000007 price:26.47 towards:1 btype:stock_cn order_id:Order_cUodiaYJ account:Acc_8F7p4obr status:300 >

1000.0
< QA_Order datetime:2017-01-05 09:31:00 code:000002 price:20.93 towards:-1 btype:stock_cn order_id:Order_m0AazTgQ account:Acc_8F7p4obr status:300 >1000.0

===== SETTLED None =====
< QA_Order datetime:2017-01-05 09:31:00 code:000004 price:44.44 towards:-1 btype:stock_cn order_id:Order_mMiwp1Vg account:Acc_8F7p4obr status:300 >0

< QA_Order datetime:2017-01-05 09:31:00 code:000007 price:26.24 towards:-1 btype:stock_cn order_id:Order_7BwM2Lyb account:Acc_8F7p4obr status:300 >
===== SETTLED None =====
0< QA_Order datetime:2017-01-06 09:31:00 code:000002 price:20.64 towards:1 btype:stock_cn order_id:Order_qACPn3WL account:Acc_8F7p4obr status:300 >

0.0
< QA_Order datetime:2017-01-06 09:31:00 code:000004 price:43.96 towards:1 btype:stock_cn order_id:Order_WoBqeyA7 account:Acc_8F7p4obr status:300 >
1000.0
< QA_Order datetime:2017-01-06 09:31:00 code:000007 price:25.45 towards:1 btype:stock_cn order_id:Order_9FkSPtDL account:Acc_8F7p4obr status:300 >0.0

===== SETTLED None =====
< QA_Order datetime:2017-01-09 09:31:00 code:000004 price:43.01 towards:-1 btype:stock_cn order_id:Order_fwqVaeNl account:Acc_8F7p4obr status:300 >2000.0

1000.0< QA_Order datetime:2017-01-10 09:31:00 code:000001 price:9.15 towards:1 btype:stock_cn order_id:Order_WNZnHikJ account:Acc_8F7p4obr status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-10 09:31:00 code:000002 price:20.58 towards:1 btype:stock_cn order_id:Order_QwTGgLNm account:Acc_8F7p4obr status:300 >
0
< QA_Order datetime:2017-01-10 09:31:00 code:000004 price:43.25 towards:-1 btype:stock_cn order_id:Order_auAj1fJq account:Acc_8F7p4obr status:300 >1000.0

1000.0
< QA_Order datetime:2017-01-10 09:31:00 code:000007 price:24.79 towards:-1 btype:stock_cn order_id:Order_iJ9Ihwje account:Acc_8F7p4obr status:300 >
0.0
< QA_Order datetime:2017-01-11 09:31:00 code:000002 price:20.4 towards:-1 btype:stock_cn order_id:Order_Tl0vibIe account:Acc_8F7p4obr status:300 >===== SETTLED None =====

2000.0< QA_Order datetime:2017-01-11 09:31:00 code:000004 price:42.45 towards:-1 btype:stock_cn order_id:Order_n0WoLyHq account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-12 09:31:00 code:000001 price:9.15 towards:1 btype:stock_cn order_id:Order_ynPui1H8 account:Acc_8F7p4obr status:300 >

QUANTAXIS>> code 000002 date 2017-01-12 price None order_model close amount_model by_amount

-1000.0
===== SETTLED None =====< QA_Order datetime:2017-01-12 09:31:00 code:000007 price:24.61 towards:1 btype:stock_cn order_id:Order_1M6BvxIy account:Acc_8F7p4obr status:300 >

1000.0
1000.0< QA_Order datetime:2017-01-13 09:31:00 code:000001 price:9.16 towards:-1 btype:stock_cn order_id:Order_rAvFCq3R account:Acc_8F7p4obr status:300 >

-1000.0
===== SETTLED None =====< QA_Order datetime:2017-01-13 09:31:00 code:000002 price:21.81 towards:-1 btype:stock_cn order_id:Order_5JHrYdc4 account:Acc_8F7p4obr status:300 >

1000.0
0.0< QA_Order datetime:2017-01-13 09:31:00 code:000007 price:23.81 towards:1 btype:stock_cn order_id:Order_WUzgJuvV account:Acc_8F7p4obr status:300 >

-1000.0
1000.0
< QA_Order datetime:2017-01-16 09:31:00 code:000001 price:9.14 towards:-1 btype:stock_cn order_id:Order_wjzycRKS account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-16 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0< QA_Order datetime:2017-01-17 09:31:00 code:000001 price:9.15 towards:1 btype:stock_cn order_id:Order_ZI67RqvF account:Acc_8F7p4obr status:300 >

2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-17 09:31:00 code:000004 price:37.37 towards:1 btype:stock_cn order_id:Order_h810evND account:Acc_8F7p4obr status:300 >

QUANTAXIS>> code 000007 date 2017-01-17 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0< QA_Order datetime:2017-01-18 09:31:00 code:000001 price:9.17 towards:1 btype:stock_cn order_id:Order_6A8mHCwb account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-18 09:31:00 code:000002 price:20.92 towards:1 btype:stock_cn order_id:Order_DPCHcgfm account:Acc_8F7p4obr status:300 >

QUANTAXIS>> code 000007 date 2017-01-18 price None order_model close amount_model by_amount

===== SETTLED None =====
< QA_Order datetime:2017-01-19 09:31:00 code:000001 price:9.18 towards:1 btype:stock_cn order_id:Order_UPjThIA5 account:Acc_8F7p4obr status:300 >0.0

2000.0
< QA_Order datetime:2017-01-19 09:31:00 code:000002 price:20.6 towards:1 btype:stock_cn order_id:Order_ATZx91KR account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-19 price None order_model close amount_model by_amount

===== SETTLED None =====
3000.0
0.0< QA_Order datetime:2017-01-20 09:31:00 code:000001 price:9.22 towards:-1 btype:stock_cn order_id:Order_98nfcGaY account:Acc_8F7p4obr status:300 >

2000.0< QA_Order datetime:2017-01-20 09:31:00 code:000002 price:20.68 towards:1 btype:stock_cn order_id:Order_SUB6vpa3 account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-20 price None order_model close amount_model by_amount

===== SETTLED None =====
2000.0
3000.0< QA_Order datetime:2017-01-23 09:31:00 code:000001 price:9.22 towards:-1 btype:stock_cn order_id:Order_T5Y0nioN account:Acc_8F7p4obr status:300 >

0.0
< QA_Order datetime:2017-01-23 09:31:00 code:000002 price:20.74 towards:-1 btype:stock_cn order_id:Order_SqjCcJgR account:Acc_8F7p4obr status:300 >2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-23 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0
2000.0< QA_Order datetime:2017-01-24 09:31:00 code:000001 price:9.27 towards:-1 btype:stock_cn order_id:Order_xSJTXNOM account:Acc_8F7p4obr status:300 >

0.0< QA_Order datetime:2017-01-24 09:31:00 code:000002 price:20.69 towards:-1 btype:stock_cn order_id:Order_IwDk1cEO account:Acc_8F7p4obr status:300 >

2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-24 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0
2000.0< QA_Order datetime:2017-01-25 09:31:00 code:000002 price:20.61 towards:-1 btype:stock_cn order_id:Order_kICh6Goq account:Acc_8F7p4obr status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-25 09:31:00 code:000004 price:38.25 towards:1 btype:stock_cn order_id:Order_hHWkB0Nn account:Acc_8F7p4obr status:300 >

QUANTAXIS>> code 000007 date 2017-01-25 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0< QA_Order datetime:2017-01-26 09:31:00 code:000002 price:20.68 towards:1 btype:stock_cn order_id:Order_19yDEkYJ account:Acc_8F7p4obr status:300 >

2000.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-26 09:31:00 code:000004 price:38.29 towards:-1 btype:stock_cn order_id:Order_fOdLwclQ account:Acc_8F7p4obr status:300 >

QUANTAXIS>> code 000007 date 2017-01-26 price None order_model close amount_model by_amount

===== SETTLED None =====
[['2017-01-03 09:31:00', '000002', 20.73, 1000.0, 'Order_3UoQRbN8', 'Trade_9tw1oQrJ', 31.095000000000002, 0.0], ['2017-01-03 09:31:00', '000004', 44.45, 1000.0, 'Order_NentjEQW', 'Trade_EDVh2Or8', 66.67500000000001, 0.0], ['2017-01-04 09:31:00', '000004', 44.7, 1000.0, 'Order_vE42zn5f', 'Trade_PVSgrpa1', 67.05000000000001, 0.0], ['2017-01-04 09:31:00', '000007', 26.47, 1000.0, 'Order_cUodiaYJ', 'Trade_FVEqIpCQ', 39.705, 0.0], ['2017-01-05 09:31:00', '000002', 20.93, -1000.0, 'Order_m0AazTgQ', 'Trade_GOMD4kEB', 31.395, 20.93], ['2017-01-05 09:31:00', '000004', 44.44, -1000.0, 'Order_mMiwp1Vg', 'Trade_6zrtBU5O', 66.66, 44.44], ['2017-01-05 09:31:00', '000007', 26.24, -1000.0, 'Order_7BwM2Lyb', 'Trade_Na3gA6Uu', 39.36, 26.24], ['2017-01-06 09:31:00', '000002', 20.64, 1000.0, 'Order_qACPn3WL', 'Trade_oh52wdvy', 30.96, 0.0], ['2017-01-06 09:31:00', '000004', 43.96, 1000.0, 'Order_WoBqeyA7', 'Trade_t2YZFMVq', 65.94, 0.0], ['2017-01-06 09:31:00', '000007', 25.45, 1000.0, 'Order_9FkSPtDL', 'Trade_q7pWfKBd', 38.175, 0.0], ['2017-01-09 09:31:00', '000004', 43.01, -1000.0, 'Order_fwqVaeNl', 'Trade_jxFAepT2', 64.515, 43.01], ['2017-01-10 09:31:00', '000001', 9.15, 1000.0, 'Order_WNZnHikJ', 'Trade_TVCwr0Ih', 13.725000000000001, 0.0], ['2017-01-10 09:31:00', '000002', 20.58, 1000.0, 'Order_QwTGgLNm', 'Trade_UQfPoINL', 30.869999999999997, 0.0], ['2017-01-10 09:31:00', '000004', 43.25, -1000.0, 'Order_auAj1fJq', 'Trade_b4rVXqgU', 64.875, 43.25000000000001], ['2017-01-10 09:31:00', '000007', 24.79, -1000.0, 'Order_iJ9Ihwje', 'Trade_qEydLpkh', 37.185, 24.79], ['2017-01-11 09:31:00', '000002', 20.4, -1000.0, 'Order_Tl0vibIe', 'Trade_ueRlsBC0', 30.599999999999998, 20.4], ['2017-01-11 09:31:00', '000004', 42.45, -1000.0, 'Order_n0WoLyHq', 'Trade_fHN2Gi9R', 63.67500000000001, 42.45], ['2017-01-12 09:31:00', '000001', 9.15, 1000.0, 'Order_ynPui1H8', 'Trade_OLmCsVZg', 13.725000000000001, 0.0], ['2017-01-12 09:31:00', '000007', 24.61, 1000.0, 'Order_1M6BvxIy', 'Trade_W4lSf167', 36.915000000000006, 0.0], ['2017-01-13 09:31:00', '000001', 9.16, -1000.0, 'Order_rAvFCq3R', 'Trade_HJr3QO8K', 13.74, 9.16], ['2017-01-13 09:31:00', '000002', 21.81, -1000.0, 'Order_5JHrYdc4', 'Trade_c3TNJ1L2', 32.715, 21.81], ['2017-01-13 09:31:00', '000007', 23.81, 1000.0, 'Order_WUzgJuvV', 'Trade_tnYuikEo', 35.714999999999996, 0.0], ['2017-01-16 09:31:00', '000001', 9.14, -1000.0, 'Order_wjzycRKS', 'Trade_NmEOw4Uy', 13.71, 9.14], ['2017-01-17 09:31:00', '000001', 9.15, 1000.0, 'Order_ZI67RqvF', 'Trade_zHDs4UnY', 13.725000000000001, 0.0], ['2017-01-17 09:31:00', '000004', 37.37, 1000.0, 'Order_h810evND', 'Trade_1DnIJ7pA', 56.055, 0.0], ['2017-01-18 09:31:00', '000001', 9.17, 1000.0, 'Order_6A8mHCwb', 'Trade_vSMIEgb2', 13.754999999999999, 0.0], ['2017-01-18 09:31:00', '000002', 20.92, 1000.0, 'Order_DPCHcgfm', 'Trade_blA2sWVC', 31.380000000000006, 0.0], ['2017-01-19 09:31:00', '000001', 9.18, 1000.0, 'Order_UPjThIA5', 'Trade_2mEMFpUC', 13.77, 0.0], ['2017-01-19 09:31:00', '000002', 20.6, 1000.0, 'Order_ATZx91KR', 'Trade_EAxty6SR', 30.900000000000002, 0.0], ['2017-01-20 09:31:00', '000001', 9.22, -1000.0, 'Order_98nfcGaY', 'Trade_4kAiysNq', 13.830000000000002, 9.22], ['2017-01-20 09:31:00', '000002', 20.68, 1000.0, 'Order_SUB6vpa3', 'Trade_QWlha79Z', 31.02, 0.0], ['2017-01-23 09:31:00', '000001', 9.22, -1000.0, 'Order_T5Y0nioN', 'Trade_NpTXA5yC', 13.830000000000002, 9.22], ['2017-01-23 09:31:00', '000002', 20.74, -1000.0, 'Order_SqjCcJgR', 'Trade_oTsVuiNB', 31.11, 20.74], ['2017-01-24 09:31:00', '000001', 9.27, -1000.0, 'Order_xSJTXNOM', 'Trade_S5Jzceqg', 13.905, 9.27], ['2017-01-24 09:31:00', '000002', 20.69, -1000.0, 'Order_IwDk1cEO', 'Trade_hlm4A0Lo', 31.035000000000004, 20.69], ['2017-01-25 09:31:00', '000002', 20.61, -1000.0, 'Order_kICh6Goq', 'Trade_fW6Gy079', 30.915000000000003, 20.61], ['2017-01-25 09:31:00', '000004', 38.25, 1000.0, 'Order_hHWkB0Nn', 'Trade_d0nmG1Ae', 57.375, 0.0], ['2017-01-26 09:31:00', '000002', 20.68, 1000.0, 'Order_19yDEkYJ', 'Trade_vczQKhrJ', 31.02, 0.0], ['2017-01-26 09:31:00', '000004', 38.29, -1000.0, 'Order_fOdLwclQ', 'Trade_LhHKExmu', 57.435, 38.29]]
[1000000, 979238.905, 934722.23, 889955.1799999999, 863445.475, 884344.08, 928717.4199999999, 954918.0599999999, 934247.1, 890221.16, 864732.985, 907678.47, 898514.745, 877903.875, 921089.0, 945841.815, 966211.215, 1008597.5399999999, 999433.815, 974786.8999999999, 983933.1599999999, 1005710.445, 981864.73, 990991.02, 981827.295, 944401.24, 935217.485, 914266.105, 905072.335, 884441.4349999999, 893647.605, 872936.585, 882142.755, 902851.645, 912107.74, 932766.705, 953345.7899999999, 915038.4149999999, 894327.3949999999, 932559.9599999998]
932559.9599999998
               datetime    code  price  amount        order_id  \
0   2017-01-03 09:31:00  000002  20.73  1000.0  Order_3UoQRbN8
1   2017-01-03 09:31:00  000004  44.45  1000.0  Order_NentjEQW
2   2017-01-04 09:31:00  000004  44.70  1000.0  Order_vE42zn5f
3   2017-01-04 09:31:00  000007  26.47  1000.0  Order_cUodiaYJ
4   2017-01-05 09:31:00  000002  20.93 -1000.0  Order_m0AazTgQ
5   2017-01-05 09:31:00  000004  44.44 -1000.0  Order_mMiwp1Vg
6   2017-01-05 09:31:00  000007  26.24 -1000.0  Order_7BwM2Lyb
7   2017-01-06 09:31:00  000002  20.64  1000.0  Order_qACPn3WL
8   2017-01-06 09:31:00  000004  43.96  1000.0  Order_WoBqeyA7
9   2017-01-06 09:31:00  000007  25.45  1000.0  Order_9FkSPtDL
10  2017-01-09 09:31:00  000004  43.01 -1000.0  Order_fwqVaeNl
11  2017-01-10 09:31:00  000001   9.15  1000.0  Order_WNZnHikJ
12  2017-01-10 09:31:00  000002  20.58  1000.0  Order_QwTGgLNm
13  2017-01-10 09:31:00  000004  43.25 -1000.0  Order_auAj1fJq
14  2017-01-10 09:31:00  000007  24.79 -1000.0  Order_iJ9Ihwje
15  2017-01-11 09:31:00  000002  20.40 -1000.0  Order_Tl0vibIe
16  2017-01-11 09:31:00  000004  42.45 -1000.0  Order_n0WoLyHq
17  2017-01-12 09:31:00  000001   9.15  1000.0  Order_ynPui1H8
18  2017-01-12 09:31:00  000007  24.61  1000.0  Order_1M6BvxIy
19  2017-01-13 09:31:00  000001   9.16 -1000.0  Order_rAvFCq3R
20  2017-01-13 09:31:00  000002  21.81 -1000.0  Order_5JHrYdc4
21  2017-01-13 09:31:00  000007  23.81  1000.0  Order_WUzgJuvV
22  2017-01-16 09:31:00  000001   9.14 -1000.0  Order_wjzycRKS
23  2017-01-17 09:31:00  000001   9.15  1000.0  Order_ZI67RqvF
24  2017-01-17 09:31:00  000004  37.37  1000.0  Order_h810evND
25  2017-01-18 09:31:00  000001   9.17  1000.0  Order_6A8mHCwb
26  2017-01-18 09:31:00  000002  20.92  1000.0  Order_DPCHcgfm
27  2017-01-19 09:31:00  000001   9.18  1000.0  Order_UPjThIA5
28  2017-01-19 09:31:00  000002  20.60  1000.0  Order_ATZx91KR
29  2017-01-20 09:31:00  000001   9.22 -1000.0  Order_98nfcGaY
30  2017-01-20 09:31:00  000002  20.68  1000.0  Order_SUB6vpa3
31  2017-01-23 09:31:00  000001   9.22 -1000.0  Order_T5Y0nioN
32  2017-01-23 09:31:00  000002  20.74 -1000.0  Order_SqjCcJgR
33  2017-01-24 09:31:00  000001   9.27 -1000.0  Order_xSJTXNOM
34  2017-01-24 09:31:00  000002  20.69 -1000.0  Order_IwDk1cEO
35  2017-01-25 09:31:00  000002  20.61 -1000.0  Order_kICh6Goq
36  2017-01-25 09:31:00  000004  38.25  1000.0  Order_hHWkB0Nn
37  2017-01-26 09:31:00  000002  20.68  1000.0  Order_19yDEkYJ
38  2017-01-26 09:31:00  000004  38.29 -1000.0  Order_fOdLwclQ

          trade_id  commission    tax
0   Trade_9tw1oQrJ      31.095   0.00
1   Trade_EDVh2Or8      66.675   0.00
2   Trade_PVSgrpa1      67.050   0.00
3   Trade_FVEqIpCQ      39.705   0.00
4   Trade_GOMD4kEB      31.395  20.93
5   Trade_6zrtBU5O      66.660  44.44
6   Trade_Na3gA6Uu      39.360  26.24
7   Trade_oh52wdvy      30.960   0.00
8   Trade_t2YZFMVq      65.940   0.00
9   Trade_q7pWfKBd      38.175   0.00
10  Trade_jxFAepT2      64.515  43.01
11  Trade_TVCwr0Ih      13.725   0.00
12  Trade_UQfPoINL      30.870   0.00
13  Trade_b4rVXqgU      64.875  43.25
14  Trade_qEydLpkh      37.185  24.79
15  Trade_ueRlsBC0      30.600  20.40
16  Trade_fHN2Gi9R      63.675  42.45
17  Trade_OLmCsVZg      13.725   0.00
18  Trade_W4lSf167      36.915   0.00
19  Trade_HJr3QO8K      13.740   9.16
20  Trade_c3TNJ1L2      32.715  21.81
21  Trade_tnYuikEo      35.715   0.00
22  Trade_NmEOw4Uy      13.710   9.14
23  Trade_zHDs4UnY      13.725   0.00
24  Trade_1DnIJ7pA      56.055   0.00
25  Trade_vSMIEgb2      13.755   0.00
26  Trade_blA2sWVC      31.380   0.00
27  Trade_2mEMFpUC      13.770   0.00
28  Trade_EAxty6SR      30.900   0.00
29  Trade_4kAiysNq      13.830   9.22
30  Trade_QWlha79Z      31.020   0.00
31  Trade_NpTXA5yC      13.830   9.22
32  Trade_oTsVuiNB      31.110  20.74
33  Trade_S5Jzceqg      13.905   9.27
34  Trade_hlm4A0Lo      31.035  20.69
35  Trade_fW6Gy079      30.915  20.61
36  Trade_d0nmG1Ae      57.375   0.00
37  Trade_vczQKhrJ      31.020   0.00

38  Trade_LhHKExmu      57.435  38.29
code
000001       0.0
000002    1000.0
000004       0.0
000007    2000.0
Name: amount, dtype: float64

In [4]:
a_1.history_table

,datetime,code,price,amount,order_id,trade_id,commission,tax
0,2017-01-03 09:31:00,000002,20.73,1000.0,Order_3UoQRbN8,Trade_9tw1oQrJ,31.095,0.00
1,2017-01-03 09:31:00,000004,44.45,1000.0,Order_NentjEQW,Trade_EDVh2Or8,66.675,0.00
2,2017-01-04 09:31:00,000004,44.70,1000.0,Order_vE42zn5f,Trade_PVSgrpa1,67.050,0.00
3,2017-01-04 09:31:00,000007,26.47,1000.0,Order_cUodiaYJ,Trade_FVEqIpCQ,39.705,0.00
4,2017-01-05 09:31:00,000002,20.93,-1000.0,Order_m0AazTgQ,Trade_GOMD4kEB,31.395,20.93
5,2017-01-05 09:31:00,000004,44.44,-1000.0,Order_mMiwp1Vg,Trade_6zrtBU5O,66.660,44.44
6,2017-01-05 09:31:00,000007,26.24,-1000.0,Order_7BwM2Lyb,Trade_Na3gA6Uu,39.360,26.24
7,2017-01-06 09:31:00,000002,20.64,1000.0,Order_qACPn3WL,Trade_oh52wdvy,30.960,0.00
8,2017-01-06 09:31:00,000004,43.96,1000.0,Order_WoBqeyA7,Trade_t2YZFMVq,65.940,0.00
9,2017-01-06 09:31:00,000007,25.45,1000.0,Order_9FkSPtDL,Trade_q7pWfKBd,38.175,0.00
10,2017-01-09 09:31:00,000004,43.01,-1000.0,Order_fwqVaeNl,Trade_jxFAepT2,64.515,43.01
11,2017-01-10 09:31:00,000001,9.15,1000.0,Order_WNZnHikJ,Trade_TVCwr0Ih,13.725,0.00
12,2017-01-10 09:31:00,000002,20.58,1000.0,Order_QwTGgLNm,Trade_UQfPoINL,30.870,0.00
13,2017-01-10 09:31:00,000004,43.25,-1000.0,Order_auAj1fJq,Trade_b4rVXqgU,64.875,43.25
14,2017-01-10 09:31:00,000007,24.79,-1000.0,Order_iJ9Ihwje,Trade_qEydLpkh,37.185,24.79
15,2017-01-11 09:31:00,000002,20.40,-1000.0,Order_Tl0vibIe,Trade_ueRlsBC0,30.600,20.40
16,2017-01-11 09:31:00,000004,42.45,-1000.0,Order_n0WoLyHq,Trade_fHN2Gi9R,63.675,42.45
17,2017-01-12 09:31:00,000001,9.15,1000.0,Order_ynPui1H8,Trade_OLmCsVZg,13.725,0.00
18,2017-01-12 09:31:00,000007,24.61,1000.0,Order_1M6BvxIy,Trade_W4lSf167,36.915,0.00
19,2017-01-13 09:31:00,000001,9.16,-1000.0,Order_rAvFCq3R,Trade_HJr3QO8K,13.740,9.16
20,2017-01-13 09:31:00,000002,21.81,-1000.0,Order_5JHrYdc4,Trade_c3TNJ1L2,32.715,21.81
21,2017-01-13 09:31:00,000007,23.81,1000.0,Order_WUzgJuvV,Trade_tnYuikEo,35.715,0.00
22,2017-01-16 09:31:00,000001,9.14,-1000.0,Order_wjzycRKS,Trade_NmEOw4Uy,13.710,9.14
23,2017-01-17 09:31:00,000001,9.15,1000.0,Order_ZI67RqvF,Trade_zHDs4UnY,13.725,0.00
24,2017-01-17 09:31:00,000004,37.37,1000.0,Order_h810evND,Trade_1DnIJ7pA,56.055,0.00
25,2017-01-18 09:31:00,000001,9.17,1000.0,Order_6A8mHCwb,Trade_vSMIEgb2,13.755,0.00
26,2017-01-18 09:31:00,000002,20.92,1000.0,Order_DPCHcgfm,Trade_blA2sWVC,31.380,0.00
27,2017-01-19 09:31:00,000001,9.18,1000.0,Order_UPjThIA5,Trade_2mEMFpUC,13.770,0.00
28,2017-01-19 09:31:00,000002,20.60,1000.0,Order_ATZx91KR,Trade_EAxty6SR,30.900,0.00
29,2017-01-20 09:31:00,000001,9.22,-1000.0,Order_98nfcGaY,Trade_4kAiysNq,13.830,9.22
30,2017-01-20 09:31:00,000002,20.68,1000.0,Order_SUB6vpa3,Trade_QWlha79Z,31.020,0.00
31,2017-01-23 09:31:00,000001,9.22,-1000.0,Order_T5Y0nioN,Trade_NpTXA5yC,13.830,9.22
32,2017-01-23 09:31:00,000002,20.74,-1000.0,Order_SqjCcJgR,Trade_oTsVuiNB,31.110,20.74
33,2017-01-24 09:31:00,000001,9.27,-1000.0,Order_xSJTXNOM,Trade_S5Jzceqg,13.905,9.27
34,2017-01-24 09:31:00,000002,20.69,-1000.0,Order_IwDk1cEO,Trade_hlm4A0Lo,31.035,20.69
35,2017-01-25 09:31:00,000002,20.61,-1000.0,Order_kICh6Goq,Trade_fW6Gy079,30.915,20.61
36,2017-01-25 09:31:00,000004,38.25,1000.0,Order_hHWkB0Nn,Trade_d0nmG1Ae,57.375,0.00
37,2017-01-26 09:31:00,000002,20.68,1000.0,Order_19yDEkYJ,Trade_vczQKhrJ,31.020,0.00
38,2017-01-26 09:31:00,000004,38.29,-1000.0,Order_fOdLwclQ,Trade_LhHKExmu,57.435,38.29

In [5]:
b=QA.QA_Risk(a_1)

In [6]:
a_1.hold

code
000001       0.0
000002    1000.0
000004       0.0
000007    2000.0
Name: amount, dtype: float64

In [7]:
a_1.trade

code                 000001  000002  000004  000007
datetime
2017-01-03 09:31:00     0.0  1000.0  1000.0     0.0
2017-01-04 09:31:00     0.0     0.0  1000.0  1000.0
2017-01-05 09:31:00     0.0 -1000.0 -1000.0 -1000.0
2017-01-06 09:31:00     0.0  1000.0  1000.0  1000.0
2017-01-09 09:31:00     0.0     0.0 -1000.0     0.0
2017-01-10 09:31:00  1000.0  1000.0 -1000.0 -1000.0
2017-01-11 09:31:00     0.0 -1000.0 -1000.0     0.0
2017-01-12 09:31:00  1000.0     0.0     0.0  1000.0
2017-01-13 09:31:00 -1000.0 -1000.0     0.0  1000.0
2017-01-16 09:31:00 -1000.0     0.0     0.0     0.0
2017-01-17 09:31:00  1000.0     0.0  1000.0     0.0
2017-01-18 09:31:00  1000.0  1000.0     0.0     0.0
2017-01-19 09:31:00  1000.0  1000.0     0.0     0.0
2017-01-20 09:31:00 -1000.0  1000.0     0.0     0.0
2017-01-23 09:31:00 -1000.0 -1000.0     0.0     0.0
2017-01-24 09:31:00 -1000.0 -1000.0     0.0     0.0
2017-01-25 09:31:00     0.0 -1000.0  1000.0     0.0
2017-01-26 09:31:00     0.0  1000.0 -1000.0     0.0

In [8]:
a_1.daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0  1000.0     0.0
2017-01-04     0.0  1000.0  2000.0  1000.0
2017-01-05     0.0     0.0  1000.0     0.0
2017-01-06     0.0  1000.0  2000.0  1000.0
2017-01-09     0.0  1000.0  1000.0  1000.0
2017-01-10  1000.0  2000.0     0.0     0.0
2017-01-11  1000.0  1000.0 -1000.0     0.0
2017-01-12  2000.0  1000.0 -1000.0  1000.0
2017-01-13  1000.0     0.0 -1000.0  2000.0
2017-01-16     0.0     0.0 -1000.0  2000.0
2017-01-17  1000.0     0.0     0.0  2000.0
2017-01-18  2000.0  1000.0     0.0  2000.0
2017-01-19  3000.0  2000.0     0.0  2000.0
2017-01-20  2000.0  3000.0     0.0  2000.0
2017-01-23  1000.0  2000.0     0.0  2000.0
2017-01-24     0.0  1000.0     0.0  2000.0
2017-01-25     0.0     0.0  1000.0  2000.0
2017-01-26     0.0  1000.0     0.0  2000.0

In [10]:
market.insert_order(account_id=a_1.account_cookie, amount=2000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time='2017-01-27', code='000001',
                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_CN,
                    frequence=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000001 date 2017-01-27 price None order_model close amount_model by_amount

In [11]:
market._settle(QA.BROKER_TYPE.BACKETEST)

===== SETTLED None =====

In [12]:
a_1.daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0  1000.0     0.0
2017-01-04     0.0  1000.0  2000.0  1000.0
2017-01-05     0.0     0.0  1000.0     0.0
2017-01-06     0.0  1000.0  2000.0  1000.0
2017-01-09     0.0  1000.0  1000.0  1000.0
2017-01-10  1000.0  2000.0     0.0     0.0
2017-01-11  1000.0  1000.0 -1000.0     0.0
2017-01-12  2000.0  1000.0 -1000.0  1000.0
2017-01-13  1000.0     0.0 -1000.0  2000.0
2017-01-16     0.0     0.0 -1000.0  2000.0
2017-01-17  1000.0     0.0     0.0  2000.0
2017-01-18  2000.0  1000.0     0.0  2000.0
2017-01-19  3000.0  2000.0     0.0  2000.0
2017-01-20  2000.0  3000.0     0.0  2000.0
2017-01-23  1000.0  2000.0     0.0  2000.0
2017-01-24     0.0  1000.0     0.0  2000.0
2017-01-25     0.0     0.0  1000.0  2000.0
2017-01-26     0.0  1000.0     0.0  2000.0

In [13]:
data=QA.QA_fetch_stock_day_adv(['000001','000002','000004','000007'],'2017-01-03','2017-01-26')

In [14]:
md=data.pivot('close')
md

code        000001  000002  000004  000007
date
2017-01-03    9.16   20.73   44.45   26.10
2017-01-04    9.16   20.85   44.70   26.47
2017-01-05    9.17   20.93   44.44   26.24
2017-01-06    9.13   20.64   43.96   25.45
2017-01-09    9.15   20.66   43.01   25.09
2017-01-10    9.15   20.58   43.25   24.79
2017-01-11    9.14   20.40   42.45   24.85
2017-01-12    9.15     NaN   42.05   24.61
2017-01-13    9.16   21.81   41.00   23.81
2017-01-16    9.14   21.00   38.26     NaN
2017-01-17    9.15   20.80   37.37     NaN
2017-01-18    9.17   20.92   37.15     NaN
2017-01-19    9.18   20.60   35.69     NaN
2017-01-20    9.22   20.68   36.48     NaN
2017-01-23    9.22   20.74   37.56     NaN
2017-01-24    9.27   20.69   38.63     NaN
2017-01-25    9.26   20.61   38.25     NaN
2017-01-26    9.33   20.68   38.29     NaN

In [15]:
a_1.history_table

,datetime,code,price,amount,order_id,trade_id,commission,tax
0,2017-01-03 09:31:00,000002,20.73,1000.0,Order_3UoQRbN8,Trade_9tw1oQrJ,31.095,0.00
1,2017-01-03 09:31:00,000004,44.45,1000.0,Order_NentjEQW,Trade_EDVh2Or8,66.675,0.00
2,2017-01-04 09:31:00,000004,44.70,1000.0,Order_vE42zn5f,Trade_PVSgrpa1,67.050,0.00
3,2017-01-04 09:31:00,000007,26.47,1000.0,Order_cUodiaYJ,Trade_FVEqIpCQ,39.705,0.00
4,2017-01-05 09:31:00,000002,20.93,-1000.0,Order_m0AazTgQ,Trade_GOMD4kEB,31.395,20.93
5,2017-01-05 09:31:00,000004,44.44,-1000.0,Order_mMiwp1Vg,Trade_6zrtBU5O,66.660,44.44
6,2017-01-05 09:31:00,000007,26.24,-1000.0,Order_7BwM2Lyb,Trade_Na3gA6Uu,39.360,26.24
7,2017-01-06 09:31:00,000002,20.64,1000.0,Order_qACPn3WL,Trade_oh52wdvy,30.960,0.00
8,2017-01-06 09:31:00,000004,43.96,1000.0,Order_WoBqeyA7,Trade_t2YZFMVq,65.940,0.00
9,2017-01-06 09:31:00,000007,25.45,1000.0,Order_9FkSPtDL,Trade_q7pWfKBd,38.175,0.00
10,2017-01-09 09:31:00,000004,43.01,-1000.0,Order_fwqVaeNl,Trade_jxFAepT2,64.515,43.01
11,2017-01-10 09:31:00,000001,9.15,1000.0,Order_WNZnHikJ,Trade_TVCwr0Ih,13.725,0.00
12,2017-01-10 09:31:00,000002,20.58,1000.0,Order_QwTGgLNm,Trade_UQfPoINL,30.870,0.00
13,2017-01-10 09:31:00,000004,43.25,-1000.0,Order_auAj1fJq,Trade_b4rVXqgU,64.875,43.25
14,2017-01-10 09:31:00,000007,24.79,-1000.0,Order_iJ9Ihwje,Trade_qEydLpkh,37.185,24.79
15,2017-01-11 09:31:00,000002,20.40,-1000.0,Order_Tl0vibIe,Trade_ueRlsBC0,30.600,20.40
16,2017-01-11 09:31:00,000004,42.45,-1000.0,Order_n0WoLyHq,Trade_fHN2Gi9R,63.675,42.45
17,2017-01-12 09:31:00,000001,9.15,1000.0,Order_ynPui1H8,Trade_OLmCsVZg,13.725,0.00
18,2017-01-12 09:31:00,000007,24.61,1000.0,Order_1M6BvxIy,Trade_W4lSf167,36.915,0.00
19,2017-01-13 09:31:00,000001,9.16,-1000.0,Order_rAvFCq3R,Trade_HJr3QO8K,13.740,9.16
20,2017-01-13 09:31:00,000002,21.81,-1000.0,Order_5JHrYdc4,Trade_c3TNJ1L2,32.715,21.81
21,2017-01-13 09:31:00,000007,23.81,1000.0,Order_WUzgJuvV,Trade_tnYuikEo,35.715,0.00
22,2017-01-16 09:31:00,000001,9.14,-1000.0,Order_wjzycRKS,Trade_NmEOw4Uy,13.710,9.14
23,2017-01-17 09:31:00,000001,9.15,1000.0,Order_ZI67RqvF,Trade_zHDs4UnY,13.725,0.00
24,2017-01-17 09:31:00,000004,37.37,1000.0,Order_h810evND,Trade_1DnIJ7pA,56.055,0.00
25,2017-01-18 09:31:00,000001,9.17,1000.0,Order_6A8mHCwb,Trade_vSMIEgb2,13.755,0.00
26,2017-01-18 09:31:00,000002,20.92,1000.0,Order_DPCHcgfm,Trade_blA2sWVC,31.380,0.00
27,2017-01-19 09:31:00,000001,9.18,1000.0,Order_UPjThIA5,Trade_2mEMFpUC,13.770,0.00
28,2017-01-19 09:31:00,000002,20.60,1000.0,Order_ATZx91KR,Trade_EAxty6SR,30.900,0.00
29,2017-01-20 09:31:00,000001,9.22,-1000.0,Order_98nfcGaY,Trade_4kAiysNq,13.830,9.22
30,2017-01-20 09:31:00,000002,20.68,1000.0,Order_SUB6vpa3,Trade_QWlha79Z,31.020,0.00
31,2017-01-23 09:31:00,000001,9.22,-1000.0,Order_T5Y0nioN,Trade_NpTXA5yC,13.830,9.22
32,2017-01-23 09:31:00,000002,20.74,-1000.0,Order_SqjCcJgR,Trade_oTsVuiNB,31.110,20.74
33,2017-01-24 09:31:00,000001,9.27,-1000.0,Order_xSJTXNOM,Trade_S5Jzceqg,13.905,9.27
34,2017-01-24 09:31:00,000002,20.69,-1000.0,Order_IwDk1cEO,Trade_hlm4A0Lo,31.035,20.69
35,2017-01-25 09:31:00,000002,20.61,-1000.0,Order_kICh6Goq,Trade_fW6Gy079,30.915,20.61
36,2017-01-25 09:31:00,000004,38.25,1000.0,Order_hHWkB0Nn,Trade_d0nmG1Ae,57.375,0.00
37,2017-01-26 09:31:00,000002,20.68,1000.0,Order_19yDEkYJ,Trade_vczQKhrJ,31.020,0.00
38,2017-01-26 09:31:00,000004,38.29,-1000.0,Order_fOdLwclQ,Trade_LhHKExmu,57.435,38.29

In [16]:
a_1.cash_table

                            cash             datetime        date
datetime
2017-01-03 09:31:00       979239  2017-01-03 09:31:00  2017-01-03
2017-01-03 09:31:00       934722  2017-01-03 09:31:00  2017-01-03
2017-01-04 09:31:00       889955  2017-01-04 09:31:00  2017-01-04
2017-01-04 09:31:00       863445  2017-01-04 09:31:00  2017-01-04
2017-01-05 09:31:00       884344  2017-01-05 09:31:00  2017-01-05
2017-01-05 09:31:00       928717  2017-01-05 09:31:00  2017-01-05
2017-01-05 09:31:00       954918  2017-01-05 09:31:00  2017-01-05
2017-01-06 09:31:00       934247  2017-01-06 09:31:00  2017-01-06
2017-01-06 09:31:00       890221  2017-01-06 09:31:00  2017-01-06
2017-01-06 09:31:00       864733  2017-01-06 09:31:00  2017-01-06
2017-01-09 09:31:00       907678  2017-01-09 09:31:00  2017-01-09
2017-01-10 09:31:00       898515  2017-01-10 09:31:00  2017-01-10
2017-01-10 09:31:00       877904  2017-01-10 09:31:00  2017-01-10
2017-01-10 09:31:00       921089  2017-01-10 09:31:00  2017-01-10
2017-01-10 09:31:00       945842  2017-01-10 09:31:00  2017-01-10
2017-01-11 09:31:00       966211  2017-01-11 09:31:00  2017-01-11
2017-01-11 09:31:00   1.0086e+06  2017-01-11 09:31:00  2017-01-11
2017-01-12 09:31:00       999434  2017-01-12 09:31:00  2017-01-12
2017-01-12 09:31:00       974787  2017-01-12 09:31:00  2017-01-12
2017-01-13 09:31:00       983933  2017-01-13 09:31:00  2017-01-13
2017-01-13 09:31:00  1.00571e+06  2017-01-13 09:31:00  2017-01-13
2017-01-13 09:31:00       981865  2017-01-13 09:31:00  2017-01-13
2017-01-16 09:31:00       990991  2017-01-16 09:31:00  2017-01-16
2017-01-17 09:31:00       981827  2017-01-17 09:31:00  2017-01-17
2017-01-17 09:31:00       944401  2017-01-17 09:31:00  2017-01-17
2017-01-18 09:31:00       935217  2017-01-18 09:31:00  2017-01-18
2017-01-18 09:31:00       914266  2017-01-18 09:31:00  2017-01-18
2017-01-19 09:31:00       905072  2017-01-19 09:31:00  2017-01-19
2017-01-19 09:31:00       884441  2017-01-19 09:31:00  2017-01-19
2017-01-20 09:31:00       893648  2017-01-20 09:31:00  2017-01-20
2017-01-20 09:31:00       872937  2017-01-20 09:31:00  2017-01-20
2017-01-23 09:31:00       882143  2017-01-23 09:31:00  2017-01-23
2017-01-23 09:31:00       902852  2017-01-23 09:31:00  2017-01-23
2017-01-24 09:31:00       912108  2017-01-24 09:31:00  2017-01-24
2017-01-24 09:31:00       932767  2017-01-24 09:31:00  2017-01-24
2017-01-25 09:31:00       953346  2017-01-25 09:31:00  2017-01-25
2017-01-25 09:31:00       915038  2017-01-25 09:31:00  2017-01-25
2017-01-26 09:31:00       894327  2017-01-26 09:31:00  2017-01-26
2017-01-26 09:31:00       932560  2017-01-26 09:31:00  2017-01-26

In [17]:
a_1.daily_cash

                           cash             datetime        date
datetime
2017-01-03 09:31:00      934722  2017-01-03 09:31:00  2017-01-03
2017-01-04 09:31:00      863445  2017-01-04 09:31:00  2017-01-04
2017-01-05 09:31:00      954918  2017-01-05 09:31:00  2017-01-05
2017-01-06 09:31:00      864733  2017-01-06 09:31:00  2017-01-06
2017-01-09 09:31:00      907678  2017-01-09 09:31:00  2017-01-09
2017-01-10 09:31:00      945842  2017-01-10 09:31:00  2017-01-10
2017-01-11 09:31:00  1.0086e+06  2017-01-11 09:31:00  2017-01-11
2017-01-12 09:31:00      974787  2017-01-12 09:31:00  2017-01-12
2017-01-13 09:31:00      981865  2017-01-13 09:31:00  2017-01-13
2017-01-16 09:31:00      990991  2017-01-16 09:31:00  2017-01-16
2017-01-17 09:31:00      944401  2017-01-17 09:31:00  2017-01-17
2017-01-18 09:31:00      914266  2017-01-18 09:31:00  2017-01-18
2017-01-19 09:31:00      884441  2017-01-19 09:31:00  2017-01-19
2017-01-20 09:31:00      872937  2017-01-20 09:31:00  2017-01-20
2017-01-23 09:31:00      902852  2017-01-23 09:31:00  2017-01-23
2017-01-24 09:31:00      932767  2017-01-24 09:31:00  2017-01-24
2017-01-25 09:31:00      915038  2017-01-25 09:31:00  2017-01-25
2017-01-26 09:31:00      932560  2017-01-26 09:31:00  2017-01-26

In [18]:
a_1.daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0  1000.0     0.0
2017-01-04     0.0  1000.0  2000.0  1000.0
2017-01-05     0.0     0.0  1000.0     0.0
2017-01-06     0.0  1000.0  2000.0  1000.0
2017-01-09     0.0  1000.0  1000.0  1000.0
2017-01-10  1000.0  2000.0     0.0     0.0
2017-01-11  1000.0  1000.0 -1000.0     0.0
2017-01-12  2000.0  1000.0 -1000.0  1000.0
2017-01-13  1000.0     0.0 -1000.0  2000.0
2017-01-16     0.0     0.0 -1000.0  2000.0
2017-01-17  1000.0     0.0     0.0  2000.0
2017-01-18  2000.0  1000.0     0.0  2000.0
2017-01-19  3000.0  2000.0     0.0  2000.0
2017-01-20  2000.0  3000.0     0.0  2000.0
2017-01-23  1000.0  2000.0     0.0  2000.0
2017-01-24     0.0  1000.0     0.0  2000.0
2017-01-25     0.0     0.0  1000.0  2000.0
2017-01-26     0.0  1000.0     0.0  2000.0

In [19]:
data=a_1.daily_hold

In [30]:
a_1.history_table.code.unique().tolist()

['000002', '000004', '000007', '000001']

In [31]:
data

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0  1000.0     0.0
2017-01-04     0.0  1000.0  2000.0  1000.0
2017-01-05     0.0     0.0  1000.0     0.0
2017-01-06     0.0  1000.0  2000.0  1000.0
2017-01-09     0.0  1000.0  1000.0  1000.0
2017-01-10  1000.0  2000.0     0.0     0.0
2017-01-11  1000.0  1000.0 -1000.0     0.0
2017-01-12  2000.0  1000.0 -1000.0  1000.0
2017-01-13  1000.0     0.0 -1000.0  2000.0
2017-01-16     0.0     0.0 -1000.0  2000.0
2017-01-17  1000.0     0.0     0.0  2000.0
2017-01-18  2000.0  1000.0     0.0  2000.0
2017-01-19  3000.0  2000.0     0.0  2000.0
2017-01-20  2000.0  3000.0     0.0  2000.0
2017-01-23  1000.0  2000.0     0.0  2000.0
2017-01-24     0.0  1000.0     0.0  2000.0
2017-01-25     0.0     0.0  1000.0  2000.0
2017-01-26     0.0  1000.0     0.0  2000.0

In [32]:
market_data=QA.QA_fetch_stock_day_adv(list(data.columns),data.index[0],data.index[-1])

In [34]:
market_data

< QA_DataStruct_Stock_day with 4 securities >

In [39]:
set[item[1] for item in a_1.history]

['000002',
 '000004',
 '000004',
 '000007',
 '000002',
 '000004',
 '000007',
 '000002',
 '000004',
 '000007',
 '000004',
 '000001',
 '000002',
 '000004',
 '000007',
 '000002',
 '000004',
 '000001',
 '000007',
 '000001',
 '000002',
 '000007',
 '000001',
 '000001',
 '000004',
 '000001',
 '000002',
 '000001',
 '000002',
 '000001',
 '000002',
 '000001',
 '000002',
 '000001',
 '000002',
 '000002',
 '000004',
 '000002',
 '000004']

In [37]:
a_1.daily_hold

code        000001  000002  000004  000007
date
2017-01-03     0.0  1000.0  1000.0     0.0
2017-01-04     0.0  1000.0  2000.0  1000.0
2017-01-05     0.0     0.0  1000.0     0.0
2017-01-06     0.0  1000.0  2000.0  1000.0
2017-01-09     0.0  1000.0  1000.0  1000.0
2017-01-10  1000.0  2000.0     0.0     0.0
2017-01-11  1000.0  1000.0 -1000.0     0.0
2017-01-12  2000.0  1000.0 -1000.0  1000.0
2017-01-13  1000.0     0.0 -1000.0  2000.0
2017-01-16     0.0     0.0 -1000.0  2000.0
2017-01-17  1000.0     0.0     0.0  2000.0
2017-01-18  2000.0  1000.0     0.0  2000.0
2017-01-19  3000.0  2000.0     0.0  2000.0
2017-01-20  2000.0  3000.0     0.0  2000.0
2017-01-23  1000.0  2000.0     0.0  2000.0
2017-01-24     0.0  1000.0     0.0  2000.0
2017-01-25     0.0     0.0  1000.0  2000.0
2017-01-26     0.0  1000.0     0.0  2000.0

In [38]:
(market_data.to_qfq().pivot('close')*a_1.daily_hold).sum(axis=1)+a_1.daily_cash.set_index('date').cash

date
2017-01-03         999902
2017-01-04    1.00017e+06
2017-01-05         999358
2017-01-06         998743
2017-01-09         996438
2017-01-10         996152
2017-01-11         995688
2017-01-12         975647
2017-01-13         997645
2017-01-16         952731
2017-01-17         953551
2017-01-18         953526
2017-01-19         953181
2017-01-20         953417
2017-01-23         953552
2017-01-24         953457
2017-01-25         953288
2017-01-26         953240
dtype: object