In [1]:
#
import datetime
import QUANTAXIS as QA
import time
market = QA.QA_Market(if_start_orderthreading=True)
market.connect(QA.BROKER_TYPE.SHIPANE)
market.start()
haitong_acc = 'account:141'
moni = 'account:813'

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.1.0
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````###``###
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````##``
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2018``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [2]:
market.connect(QA.BROKER_TYPE.SHIPANE)

True

In [3]:
market.login(QA.BROKER_TYPE.SHIPANE, haitong_acc)

Expecting value: line 1 column 1 (char 0)
None
tuple indices must be integers or slices, not str

False

In [4]:
market.login(QA.BROKER_TYPE.SHIPANE, moni)

subscribe

True

In [5]:
market.broker[QA.BROKER_TYPE.SHIPANE].query_orders(moni,'')

                                      order_time    code  name  towards  \
account_cookie realorder_id
account:813    937044088     2018-08-20 10:27:57  000001  平安银行        1
               937149937     2018-08-20 13:44:16  000001  平安银行        1

                            trade_price order_price  status order_amount  \
account_cookie realorder_id
account:813    937044088          0.000       8.900  queued         1000
               937149937          0.000       8.900  queued         1000

                            trade_amount cancel_amount
account_cookie realorder_id
account:813    937044088               0             0
               937149937               0             0

In [6]:
market._sync_orders()

In [7]:
rx=market.get_account(moni)

In [8]:
rx

< QA_Account account:813>

In [9]:
rx.hold_table()

code
000001    7000.0
300628    1300.0
Name: amount, dtype: float64

In [10]:
rx.cash

[35844.92]

In [11]:
market.get_account_id()

['account:813']

In [12]:
market.order_handler.order_status

                                      order_time    code  name  towards  \
account_cookie realorder_id
account:813    937044088     2018-08-20 10:27:57  000001  平安银行        1
               937149937     2018-08-20 13:44:16  000001  平安银行        1

                            trade_price order_price  status order_amount  \
account_cookie realorder_id
account:813    937044088          0.000       8.900  queued         1000
               937149937          0.000       8.900  queued         1000

                            trade_amount cancel_amount
account_cookie realorder_id
account:813    937044088               0             0
               937149937               0             0

In [13]:
market.order_handler.deal_status

Empty DataFrame
Columns: [trade_time, code, name, towards, trade_amount, trade_price, trade_money, trade_id]
Index: []

In [14]:
QA.QA_util_date_gap('2018-08-17',1,'lt')

'2018-08-16'

In [15]:
market.get_account(moni).hold_table()

code
000001    7000.0
300628    1300.0
Name: amount, dtype: float64

In [16]:
r=market.query_data_no_wait(broker_name=QA.BROKER_TYPE.SHIPANE,code='000001',frequence=QA.FREQUENCE.CURRENT, market_type=QA.MARKET_TYPE.STOCK_CN,start=datetime.datetime.now())

In [17]:
r is None

True

In [18]:
res2 = market.insert_order(moni, code='000002', amount=2600, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, order_model=QA.ORDER_MODEL.LIMIT,
                           frequence=QA.FREQUENCE.CURRENT, broker_name=QA.BROKER_TYPE.SHIPANE, market_type=QA.MARKET_TYPE.STOCK_CN,
                           towards=QA.ORDER_DIRECTION.SELL, price=22, time=datetime.datetime.now())

资金股份不足/不允许卖空开仓
ERROR : CODE 000002 TIME 2018-08-20 09:31:00  AMOUNT 2600 TOWARDS -1

In [19]:
res2 = market.insert_order(moni, code='000001', amount=1000, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, order_model=QA.ORDER_MODEL.LIMIT,
                           frequence=QA.FREQUENCE.CURRENT, broker_name=QA.BROKER_TYPE.SHIPANE, market_type=QA.MARKET_TYPE.STOCK_CN,
                           towards=QA.ORDER_DIRECTION.BUY, price=8.9, time=datetime.datetime.now())

In [20]:
# res1= market.insert_order(moni, code='000001', amount=1450, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, order_model=QA.ORDER_MODEL.LIMIT,
#                            frequence=QA.FREQUENCE.CURRENT, broker_name=QA.BROKER_TYPE.SHIPANE, market_type=QA.MARKET_TYPE.STOCK_CN,
#                            towards=QA.ORDER_DIRECTION.SELL, price=8.91, time=datetime.datetime.now())

In [21]:
market.stop_sync_order_and_deal()

success receive order 937156623
on_insert_order

In [22]:
market.sync_order_and_deal()

< QA_Order realorder_id 937156623 datetime:2018-08-20 09:31:00 code:000001 amount:1000 price:8.9 towards:1 btype:stock_cn order_id:Order_wZE1QLch account:account:813 status:queued >
queued

In [23]:
#market.order_handler.deal_status.loc['account:141','3112'].trade_id

In [24]:
market.order_handler.order_status

                                      order_time    code  name  towards  \
account_cookie realorder_id
account:813    937044088     2018-08-20 10:27:57  000001  平安银行        1
               937149937     2018-08-20 13:44:16  000001  平安银行        1

                            trade_price order_price  status order_amount  \
account_cookie realorder_id
account:813    937044088          0.000       8.900  queued         1000
               937149937          0.000       8.900  queued         1000

                            trade_amount cancel_amount
account_cookie realorder_id
account:813    937044088               0             0
               937149937               0             0

In [25]:
z=market.get_account(moni).history_table

In [26]:
z=market.get_account(moni)

In [27]:
z.orders.order_list

{'Order_wZE1QLch': < QA_Order realorder_id 937156623 datetime:2018-08-20 09:31:00 code:000001 amount:1000 price:8.9 towards:1 btype:stock_cn order_id:Order_wZE1QLch account:account:813 status:queued >}

In [28]:
#order=market.order_handler.order_queue.pending[1]

In [31]:
#order.transact_time

In [32]:
# for index, deal in market.order_handler.deal_status.loc[order.account_cookie,order.realorder_id].iterrows():
#     order.trade(str(deal.trade_id),float(deal.trade_price),int(deal.trade_amount))

In [33]:
# for order in market.order_handler.order_queue.pending:
#     if order.realorder_id in market.order_handler.deal_status.index.levels[1]:
#         # 此时有成交推送(但可能是多条)
#         market.order_handler.deal_status.loc[order.account_cookie,order.realorder_id]

In [34]:
# res1= market.insert_order(moni, code='600521', amount=1500, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, order_model=QA.ORDER_MODEL.LIMIT,
#                            frequence=QA.FREQUENCE.CURRENT, broker_name=QA.BROKER_TYPE.SHIPANE, market_type=QA.MARKET_TYPE.STOCK_CN,
#                            towards=QA.ORDER_DIRECTION.SELL, price=19.82, time=datetime.datetime.now())