In [1]:
import QUANTAXIS as QA

In [2]:
user= QA.QA_User(username='yutiansut',password='940809')

In [3]:
user.subscribe_strategy('s1_jm',1)
user.subscribe_strategy('s1_j',2)
user.subscribe_strategy('s1_rb',4)

(True, '6f33314b-240e-11e9-9e0f-9cb6d020b9c2')

In [4]:
import pandas as pd

In [5]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,running,s1_jm,6f330b76-240e-11e9-812b-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6f33314a-240e-11e9-906c-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6f33314b-240e-11e9-9e0f-9cb6d020b9c2

In [6]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-30,1,3a9ef652-240c-11e9-9804-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-30,2,3a9ef653-240c-11e9-83d4-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-30,4,3a9f2678-240c-11e9-8ef1-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-30,0,3aaecf68-240c-11e9-bd85-9cb6d020b9c2,unsubscribe
4,10,s1_jm,2019-01-30,1,8704bdca-240c-11e9-a81b-9cb6d020b9c2,subscribe
5,10,s1_j,2019-01-30,2,8704c42e-240c-11e9-a320-9cb6d020b9c2,subscribe
6,10,s1_rb,2019-01-30,4,8704c42f-240c-11e9-9835-9cb6d020b9c2,subscribe
7,0,s1_jm,2019-01-30,0,871427d4-240c-11e9-98cb-9cb6d020b9c2,unsubscribe
8,10,s1_jm,2019-01-30,1,6f330b76-240e-11e9-812b-9cb6d020b9c2,subscribe
9,10,s1_j,2019-01-30,2,6f33314a-240e-11e9-906c-9cb6d020b9c2,subscribe
10,10,s1_rb,2019-01-30,4,6f33314b-240e-11e9-9e0f-9cb6d020b9c2,subscribe

In [7]:
user.coins

9910

In [8]:
user.unsubscribe_stratgy('s1_jm')

In [9]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,canceled,s1_jm,6f330b76-240e-11e9-812b-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6f33314a-240e-11e9-906c-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6f33314b-240e-11e9-9e0f-9cb6d020b9c2

In [10]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-30,1,3a9ef652-240c-11e9-9804-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-30,2,3a9ef653-240c-11e9-83d4-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-30,4,3a9f2678-240c-11e9-8ef1-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-30,0,3aaecf68-240c-11e9-bd85-9cb6d020b9c2,unsubscribe
4,10,s1_jm,2019-01-30,1,8704bdca-240c-11e9-a81b-9cb6d020b9c2,subscribe
5,10,s1_j,2019-01-30,2,8704c42e-240c-11e9-a320-9cb6d020b9c2,subscribe
6,10,s1_rb,2019-01-30,4,8704c42f-240c-11e9-9835-9cb6d020b9c2,subscribe
7,0,s1_jm,2019-01-30,0,871427d4-240c-11e9-98cb-9cb6d020b9c2,unsubscribe
8,10,s1_jm,2019-01-30,1,6f330b76-240e-11e9-812b-9cb6d020b9c2,subscribe
9,10,s1_j,2019-01-30,2,6f33314a-240e-11e9-906c-9cb6d020b9c2,subscribe
10,10,s1_rb,2019-01-30,4,6f33314b-240e-11e9-9e0f-9cb6d020b9c2,subscribe
11,0,s1_jm,2019-01-30,0,6f487ba4-240e-11e9-82cf-9cb6d020b9c2,unsubscribe

In [11]:
import datetime

In [12]:
#pd.Timestamp('2018-11-05')-pd.Timestamp('2018-11-10')>datetime.timedelta(days=0)

In [13]:
user.subscribing_strategy

,end,lasttime,start,status,strategy_id,uuid,remains
1,2019-02-01,2,2019-01-30,running,s1_j,6f33314a-240e-11e9-906c-9cb6d020b9c2,2 days
2,2019-02-12,4,2019-01-30,running,s1_rb,6f33314b-240e-11e9-9e0f-9cb6d020b9c2,13 days

In [14]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,canceled,s1_jm,6f330b76-240e-11e9-812b-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6f33314a-240e-11e9-906c-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6f33314b-240e-11e9-9e0f-9cb6d020b9c2

In [15]:
user.save()

AttributeError: 'list' object has no attribute 'keys'

# 账户的同步和更新

QA_User在初始化的时候会自动同步数据库, 更新自己

In [ ]:
user1= QA.QA_User(username='yutiansut',password='940809')

In [ ]:
user1.sync()

In [ ]:
user1.message

In [ ]:
user1.money=200000

In [ ]:
user1.save()

In [ ]:
user1.message

In [ ]:
QA.QA_User(username='yutiansut',password='940809').message

# 讨论下 QAUSER的下挂Portfolio/Account

In [ ]:
admin=QA.QA_User(username='yutiansut',password='940809')

In [ ]:
admin.portfolio_list

In [ ]:
admin.new_portfolio('RB_PORTFOLIO')

In [ ]:
RB_Portfolio=admin.get_portfolio('RB_PORTFOLIO')

In [ ]:
RB_Portfolio.new_account(account_cookie='test1',init_cash=200000)

In [ ]:
admin.portfolio_list

In [ ]:
RB_Portfolio.accounts

In [ ]:
RB_Portfolio.user_cookie

In [ ]:
RB_Portfolio

In [ ]:
acc1=RB_Portfolio['test1']

In [ ]:
acc1

In [ ]:
admin

In [ ]:
# 让account发生一些行为: 交易等

In [ ]:
acc1.receive_simpledeal('000001',20, 2000,QA.ORDER_DIRECTION.BUY, '2019-01-25')

In [ ]:
# 回来查看 QAUSER/ QAPORTFOLIO

In [ ]:


"""
当组合产生一个子账户的时候, 会统一扣减一个值

至于子账户的内部行为, 在PORTFOLIO.cash的部分不加以体现

"""
RB_Portfolio.cash # 组合和子账户之间的交互

In [ ]:
RB_Portfolio.history_table

In [ ]:
acc2= RB_Portfolio.new_account(account_cookie='test2',init_cash=500000)

In [ ]:
acc2.receive_simpledeal('000002',20, 2000,QA.ORDER_DIRECTION.BUY, '2019-01-25')

In [ ]:
RB_Portfolio.history_table

In [ ]:
acc3= RB_Portfolio.new_account(account_cookie='test3_future',init_cash=500000, market_type=QA.MARKET_TYPE.FUTURE_CN)

In [ ]:
acc3.market_type

In [ ]:
acc3

In [ ]:
acc3.receive_simpledeal('RB1905',3509, 2,QA.ORDER_DIRECTION.BUY_OPEN, '2019-01-25')

In [ ]:
acc3.receive_simpledeal('J1905',1800, 2,QA.ORDER_DIRECTION.BUY_OPEN, '2019-01-25')

In [ ]:
"""

history_table 展示了当前的所有子账户的交易

"""


RB_Portfolio.history_table

In [ ]:
RB_Portfolio.send_order('test1','000001',100,'2019-01-28',QA.ORDER_DIRECTION.SELL,price=22, order_model=QA.ORDER_MODEL.LIMIT,amount_model=QA.AMOUNT_MODEL.BY_AMOUNT)

In [ ]:
RB_Portfolio.history[0][2]

In [ ]:
admin['RB_PORTFOLIO']

#   开放成HTTP 端口, 被WEBSERVER实现

In [ ]:
admin.message

In [ ]:
RB_Portfolio.cash

In [ ]:
acc1.history_table

In [ ]:
admin.subscribed_strategy

In [ ]:
admin.save()

In [ ]:
admin.portfolio_list

In [ ]:
#admin.message

In [ ]:
## 考虑一个问题: